/* Cercador de headlines */
.search_box {
    margin-bottom: 20px;
}
.search_box form {
    display: block;
}
.search_box form .item_form_container {
    float: left;
    padding: 0 5px 20px;
}
.search_box form .di_container, .search_box form .df_container {
    width: 20%;
}
.search_box form .text_container {
    width: 40%;
    padding-top: 18px;
}
.search_box form .submit_container {
    width: 10%;
    padding-top: 17px;
}
.search_box form .item_form_container label {
    display: block;
}
.search_box form .item_form_container input {
    clear: both;
    display: block;
    width: 100%;
}

#headlines_list .headline_item_list {
    position: relative;
    clear: both;
    margin: 10px 0;
    border: 1px solid #A7A7A7;
    height: 135px;
}
#headlines_list .headline_item_data,
#headlines_list .headline_title_item,
#headlines_list .headline_subtitle_item,
#headlines_list .headline_link_item{
    margin: 5px 10px 0 10px;
    width: 55%;
    float: left;
}
#headlines_list .headline_item_img {
    float: left;
    padding: 5px;
}
#headlines_list .headline_item_data {
    color: #aaa;
    font-size: 10px;
    text-align: left;
}
#headlines_list .headline_title_item {
    font-size: 14px;
    text-align: left;
}
#headlines_list .headline_subtitle_item {
    top: 15px;
    color: #666;
    font-size: 12px;
    text-align: left;
}
#headlines_list .headline_subtitle_item span {
    font-weight: bold;
}
#headlines_list .headline_link_item {
    font-size: 12px;
}
#headlines_list .headline_link_item a {
    text-decoration: none;
}
#headlines_list .headline_no_data {
    clear: both;
    text-align: center;
    padding: 10px 0;
}

/* Pagination */
div#pagination ul {
    list-style: none;
}

div#pagination ul li {
    display: inline;
}

div#pagination ul {
    text-align:center;
    color:#829994;
    padding-left: 0;
}
div#pagination ul li {
    display:inline;
    padding:0 3px;
}
div#pagination ul a {
    color:#0d7963;
    display:inline-block;
    padding:5px 10px;
    border:1px solid #cde0dc;
    text-decoration:none;
}
div#pagination ul a:hover,
div#pagination ul a.current {
    background:#E41915;
    color:#fff;
}
/* Ens Pagination */