div#menuh {
    height: 0px !important;
    top: -65px !important;
}


div#contenidortotalcap2 {
    height: 63px !important;
}

.menu-responsive {
    display: none;
}

.rowCartellera {
    clear: both;
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    box-shadow: 0 0 2px 2px #e1e1e1;
}

.row {
	clear: both;
    width: 900px;
    margin: 0 auto;
    margin-top: 40px;
    display: table;
}

.singleBanner {
	margin-right: 37px;
	float: left;
    width: 150px;
    height: 150px;
    background-color: #fff;
}

.singleBannerLast {
	float: right;
    width: 150px;
    height: 150px;
    background-color: #fff;
}

.column-left { 
	float: left;
	width: 54%;
}
.column-center {
	display: inline-block;
	width: 28%; 
}
.column-right {
	float: right;
	width: 18%; 
}

.titolsSeccionsHome {
    font-family: "Century Gothic custom", Century Gothic, Arial, Helvetica, sans-serif;
    color: #ED1F33;
    text-align: left; 
}
.titolBig {
	font-size: 24px;
}
.titolCercador {
	font-size: 18px;
}
.titolTweets {
	font-size: 18px;
}
.titolCampanyes {
	font-size: 18px;
	margin-left: 16px;
}
.titolsSeccionsHome a {
    text-decoration: none;
    color: #ED1F33;
}
.titolsSeccionsHome a:hover {
    color: #666;
}

.caixaheadlinep {
    margin-top: 20px;
    width: 220px;
    height: 385px;
    /* position: relative; */
    float: left;
    border-bottom-style: solid;
    border-bottom-color: ED1F33;
    border-bottom-width: 3px;
    margin-right: 21px;
}

.column-center #twitter-widget-0 {
	margin-top: 20px !important;
	width: 95% !important;
	height: 803px !important;
}

.home .bx-wrapper {
	width: 146px !important;
	top:20px !important;
	margin-left: 15px !important;
	margin-bottom: 70px !important;
}

.twitter {
	margin-left: 16px;
	background-color: #00B0EC;
}
.facebook {
	background-color: #395795;
}
.youtube {	
	background-color: #ea080c;
}

.social {
	margin-right: 3px;
    float: left;
    height: 45px;
    width: 45px;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}

.social a{
    text-decoration: none;
}

.rowInsideCol {
	clear: both;
    width: 100%;
    /*height: 150px;*/
    margin: 0 auto;
    margin-top: 20px;
    display: table;
}

.follow-no-social {
	margin-top: 37px;
    width: 141px;
    left: 16px;
    height: 103px;
    top: 0px;
    background-color: #fff;
}

.sigleElementPosition {
    margin-top: 20px;
}

/* Slider de ciutat */
.home_ciutat .bx-wrapper {
    margin-bottom: 0;
}
.home_ciutat .bx-controls {
    display: none;
}

.banner-mes-informacio {
	top: 20px;
    height: 105px;
    width: 150px;
    background-color: #fff;
    margin-right: 37px;
    margin-bottom: 20px;
}

.banner-mes-informacio-last {
	float: right;
	margin-right: 0px;
}

.alcaldeLandScape {
	margin-bottom: 20px;
    top: 20px;
    background-color: #fff;
}

.banners-alcalde {
    width: 146px;
    height: 105px;
    top: 20px;
}

.banner-alcalde-last {
    float: right;
}

.banner-alcalde-center {
	margin-left: 12px; 
}

.banner-alcalde-first {
    float: left;
    margin-left: 9px;
}

.bannerwebs1 {
    margin-top: 20px !important;
    top: 0px !important;
}

.bannerwebs2 {
    margin-top: 20px !important;
    top: 0px !important;
}

.banners-web-last {
	float: right;
}

.banner-webs-separation {
    margin-right: 36px;
}

.titolSmall {
    font-size: 18px;
}

.column-left-altres-cercador { 
	float: left;
	/*width: 54%;*/
}
.column-right-altres-cercador {
	float: right;
	/*width: 46%;*/ 
}

.cercador {
    float: left;
    margin-top: 20px;
}

ul.another-webs {
    list-style-type: none;
    top: 20px;
    font-family: "Century Gothic custom", Century Gothic, Arial, Helvetica, sans-serif;
    font-size: 0.85em;
    line-height: 24px;
    padding: 0;
}

ul.another-webs a{
	text-decoration: none;
	color: #666;
}

ul.another-webs a:hover{
	color: #ED1F33;
}

.info-participa-banner {
    width: 33,33%;
    background-color: #fff;
    box-shadow: 0 0 2px 2px #e1e1e1;
    padding: 2px 2px 2px 2px;
    float: left;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}

.separation-banner-info-participa {
	margin-right: 55px;
}

.info-participa-banner-last {
	float: right;
}

#textagendac {
	margin-top: -6px !important;
}

#textagendacb {
	margin-top: -6px !important;
}

.column-left-viulaciutat { 
    float: left;
    width: 65%;
}
.column-right-viulaciutat {
    float: right;
    width: 35%; 
}

.marge-titol-contingut {
    margin-bottom: 20px;
}

.banner-viulaciutat {
    margin-bottom: 10px;
    margin-right: 10px;
}

.banner-pobles-ciutat {
    background-color: #fff;
    box-shadow: 0 0 2px 2px #e1e1e1;
    font-family: "Century Gothic custom", Century Gothic, Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}

.taula-n-ciutat {
    border: 2px solid #fff;
}

.col-negocis {
    display: table-cell;
    padding: 10px;
}

.info-general-ciutat {
    background-color: #fff;
    box-shadow: 0 0 2px 2px #e1e1e1;
    float: left;
    font-family: "Century Gothic custom", Century Gothic, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}

.taula-n-ciutat-2 {
    border: 2px solid #fff;
    background-color: #ED1F33;
}

.col-negocis {
    display: table-cell;
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
    width: 178px;
}

.col-negocis a {
    text-decoration: none;
    color: #fff;
}

.banner-image-ajuntaaunclic {
    padding: 3px;
}

.banner2 {
    margin-right: 17px;
    margin-bottom: 10px;
}

.banner2-last {
    float: right;
    margin-right: 0px;
}

.column-left-iformacio-administrativa { 
    float: left;
    width: 70%;
}
.column-right-iformacio-administrativa {
    float: right;
    width: 30%; 
}

.marc-info-administrativa {
    margin-right: 69px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 0 2px 2px #e1e1e1;
    padding: 2px 2px 2px 2px;
    float: left;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}

.text-boto-info-administrativa {
    margin-top: -50px;
    text-align: center;
}

.marc-info-administrativa-last {
    float: right;
    margin-right: 0px;
}

.marc-banners-informacio-administrativa {
    background-color: #fff;
    box-shadow: 0 0 2px 2px #e1e1e1;
    padding: 2px 2px 2px 2px;
    float: right;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}

.text-boto-alt {
    color: #ED1F33;
    width: 200px;
    /* position: relative; */
    font-size: 12px;
    font-family: "Century Gothic custom", Century Gothic, Arial, Helvetica, sans-serif;
    margin-top: -30px;
    margin-left: 15px;
    text-align: left;
}

.marge-inferior-boto-alt {
    margin-bottom: 10px;
}

.marge-inferior-boto-alt-last {
    margin-bottom: 30px;
}

ul.altres-materies {
    list-style-type: none;
    font-family: "Century Gothic custom", Century Gothic, Arial, Helvetica, sans-serif;
    font-size: 0.85em;
    color: #333;
    line-height: 25px;
    padding: 0;
    list-style-type: none;
}

ul.altres-materies li {
    width: 33.33%;
    float: left;
}

ul.altres-materies li a {
    text-decoration: none;
    color: #333;
}

.paragraf-personalitzat {
    color: #333;
}

ul.list-intro-negocis {
    list-style-type: disc;
    font-family: "Century Gothic custom", Century Gothic, Arial, Helvetica, sans-serif;
    font-size: 0.92em;
    line-height: 21px;
    padding: 0;
}

.column-left-negocis { 
    float: left;
    width: 44%;
}
.column-right-negocis {
    float: right;
    width: 54%; 
}

.marc-serveis-ciutat {
    background-color: #FFF;
    margin-right: 30px
    box-shadow: 0 0 2px 2px #e1e1e1;
    padding: 2px 2px 2px 2px;
    float: left;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}

ul.negocis-ajuntament-list {
    margin: 0px auto;
    background-color: #eee;
    font-family: "Century Gothic custom", Century Gothic, Arial, Helvetica, sans-serif;
    font-size: 0.82em;
    color: #333;
    line-height: 28px;
    float: left;
}

ul.negocis-ajuntament-list li {
    width: 100%;
    float: left;
}

ul.negocis-ajuntament-list li a {
    text-decoration: none;
    color: #333;
}

.arees-negocis {
    position: relative;
    height: 90px;
    margin-right: 58px;
    margin-bottom: 21px;
}

.arees-negocis-last {
    margin-right: 0px !important;
    float: right;
}

.row-header {
    margin-top: 0px;
}

.column-left-header { 
    float: left;
    width: 33%;
}
.column-center-header {
    display: inline-block;
    width: 33%; 
}
.column-right-header {
    float: right;
    width: 33%; 
}

/* Capçalera petita */
#contenidorcap_text {
    position: relative;
    float: left;
    left: 2px;
    height: 32px;
    width: 867px;
    background-color: #ED1F33;
    z-index: 1;
}
#contenidorcap_text .contenidorcap_text {
    padding-left: 10px;
    padding-top: 8px;
    position: relative;
    float: left;
}
#contenidorcap_text .nomcap {
    color: #ffffff;
    float: left;
    width: 37%;
    padding-top: 6px;
    padding-left: 10px;
}
#contenidorcap_text .idiomescap {
    color: #ffffff;
    width: 20%;
    float: left;
    position: relative;
    display: block;
    height: 100%;
    padding-top: 6px;
}
#contenidorcap_text .idiomescap ul {
    margin: 0;
}

#contenidorcap_text .divIdiomaGoogle {
    font-family: "Century Gothic custom", Century Gothic, Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    color: #fff;
    float: right;
    z-index: 2;
    width: 30%;
    /*margin-top: 13px;*/
    text-align: right;
    padding-right: 3px;
}

.titolcap, .titolcap h1 {
    position: relative;
    top: -5px;
    font-family: "Century Gothic custom", Century Gothic, Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    color: #ED1F33;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
    text-decoration: none;
    margin-bottom: 0;
}

div#footer {
    height: auto !important;
}


.img-slider-negocis{
    height: 320px;
    width: 900px;
}


.img-slider{
    width: 895px;
    height: 304px;
}

.contenedor-info-econoc-finan-element {
    width: 300px;
    float: left;
    margin-top: 40px;
    margin-left: 100px;
}

.botoinfeco {
    position: relative;
}

.img-responsive {
    width: 100% !important;
    height: auto !important;
}

.ogm-row {
    width: 100%;
    overflow: hidden;
}

.ogm-col-left {
    width: 400px;
    float: left;
    margin-top: 15px;
}

.ogm-col-right {
    margin-left: 400px;
    margin-top: 0px;
}

.button-menu {
    display: none;
}

.caixadatanoticia {
    color: #aaa;
    font-family: "Century Gothic custom", Century Gothic, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    padding: 10px;
}

.noticia_foto {
    padding: 1px;
    text-align: center;
    box-shadow: 0 0 2px 2px #e1e1e1;
    float: right
}

.caixatextnoticia-mod {
    width: 100% !important;
}

.ul_indexpcMod {
    clear: both;
    position: relative;
    display: block;
    margin-top: 0px;
    margin-left: 25px;
    padding: 0px 0px;
    left: 0px;
    list-style: none;
    line-height: 40px;
    font-size: 14px;
    top: 90px;
}

div#titolaltrespdc {
    left: 0px !important;
}

.caixapdcMod {
    height: 45px;
    background-color: #FF7C78;
    color: white;
    text-align: center;
    top: 12px;
    font-size: 14px;
    font-family: "Century Gothic custom", Century Gothic, Arial, Helvetica, sans-serif;
    padding: 15 15 15 15;
}

.faqconsultapopularMod {
    position: relative;
    top: 20px;
    left: 0px;
    font-family: "Century Gothic custom", Century Gothic, Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 10px;
}

.colorBlack {
    color: black;
}

.titolaltrespuntsparticipaMod {
    position: relative;
    text-align: center;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-family: "Century Gothic custom", Century Gothic, Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: #fff;
    background-color: #ED1F33;
}

.div-pciutadana-digueu-info {
    position: relative;
    text-align: justify;
    width: 100%;
    font-family: "Century Gothic custom", Century Gothic, Arial, Helvetica, sans-serif;
    font-size: 14px !important;
    color: #000;
    background-color: #eee;
    padding: 20 20 20 20;
}

.titolpolparticipaMod {
    clear: both;
    position: relative;
    width: 100%;
}

    .caixafMod {
        float: right;
        margin-bottom: 10px;
    }

    .caixatMod {

    }

    .div-row-banners-social-media {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .div-contenedor-banners-negocis5 {
        padding-left: 35%;   
    }

    .banner-negocis5 {
        margin-top: 20px;
    }

    .div-contenidor-info-econom {
        display: inherit; 
    }

    .div-contenidor-info-econom-list {
        display: none;
    }

    .div-columna1pre {
        display: table-cell;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(238, 238, 238);
        border-bottom: 2px solid #eee;
        vertical-align: middle;
        padding: 8px;
        width: 275px;
    }

    .div-columna1pre a {
        text-decoration: none;
        color: #333;
    }

    .row-info-econom-finan {
        width: 100%;
        margin-top: 130px;
    }

    .col-dreta-info-econom-finan {
        
        float: right;
    }

    .col-esquerra-info-econom-finan {
        margin-right: 2%;
        float: left;
    }

    .div-columna1pre {
        display: block !important;
    }

    .row-info-econom-finan-bloc {
        width: 100%;
        margin-top: 30px;
    }

    .info-econoc-finan-responsive {
        display: block;
        display: none;
    }