/* Responsive Media */

/*Tablet portrait*/
@media only screen and (min-width: 768px) and (max-width: 899px) {

/********************************************************
                    INI - Home i Headers
********************************************************/

    .img-responsive-95 {
        width: 95% !important;
        height: auto !important;
    }

    .menu-responsive {
        display: inherit !important;
        float: left;
        margin-left: 8%;
        margin-top: 50px;
        color: #ED1F33;
        width: 17%;
    }

    .menu-responsive a {
        color: #ED1F33 !important;
    }

    div#page-wrap {
        width: 100% !important;
    }
    div#seccio3n {
        width: 100% !important;
    }
    div#cartellera div#slider1_container > div {
        transform-origin: none !important;
        transform: none !important;
    }
    div#slider1_container {
        height: 269px !important;
    }
    body {
        width: 98% !important;
    }
    div#contenidortotalcos {
        width: 100% !important;
    }
    #taulaInfoparticipa {
        top: 57px !important;
    }
    #footer {
        width: 100% !important;
    }
    div#contenidor5 {
        height: 710px !important;
        width: 100% !important;
    }

    div#contenidorcap1 {
        /*display: none;*/
    }

    .nomcap {
        /*display: none;*/   
    }

    #contenidorcap_text {
        position: relative;
        float: left;
        left: 0px !important;
        height: 32px;
        width: 100%;
        background-color: #ED1F33;
        z-index: 1;
    }


    #idiomescapul {
        padding: 0;
        list-style-type: none;
        margin-left: 15px !important;
        margin-top: 5px !important;
    }

    .tamany-img-aj-clic {
        width: 100%;
    }

    .row {
        width: 100% !important;
    }

    #contenidorcap_text {
        width: 100% !important;
    }

    div#titolcap, div#titolcap h1 {
        display: none !important;
    }

    .titolcap {
        display: none !important;
    }

    .rowCartellera {
        width: 100% !important;
    }

    div#contenidortotalpeu {
        width: 100% !important;
    }

    div#contenidorcap {
        width: 100% !important;
    }

    div#contenidorpeu {
    width: 100% !important;
    }

    .column-left {
        margin-bottom: 20px !important;
        width: 72% !important;
    }

    .column-center {
        margin-bottom: 20px !important;
        width: 28% !important;
    }

    .column-right {
        width: 100% !important;
    }

    .singleBanner {
        margin-bottom: 20px !important;
        margin-left: 75px !important;
        margin-right: 30px !important;
    }

    .singleBannerLast {
        float: left !important;
        margin-left: 75px !important;
    }

    .banner-alcalde-last {
        float: left !important;
        margin-left: 30px !important;
        margin-top: 10px !important;
    }

    .banner-alcalde-center {
        margin-left: 10px !important;
    }

    .banner-mes-informacio {
        margin-left: 69px !important;
    }

    .banner-mes-informacio-last {
        float: left !important;
    }

    .banner-webs-separation {
        /*margin-right: -25px !important;
        margin-left: 21px !important;*/
        margin-right: -4% !important;
        margin-left: 3% !important;
    }

    .banners-web-last {
        float: left !important;
    }

    .separation-banner-info-participa {
        margin-right: 11px !important;
    }

    .classter-left {
        width: 25% !important;
        float: left !important;
    }

    .classter-right {
        width: 75%;
        position: relative;
        float: left;
    }

    .follow-no-social-last {
        margin-right: 0px !important;
    }

    .follow-no-social {
        margin-right: 76px;
    }

    .row-header-menu {
        height: 64px;
    }

    .img-slider {
        width: 99% !important;
        margin: 0 auto;
    }

    .sigleElementPosition {
        width: 99.5% !important;
    }

    div#contenidorcap1 {
        position: absolute !important;
    }

    #contenidorcap_text .nomcap {
        margin-left: 24px;
        margin-top: 5px;
    }

    div#menuh {
        display: none;
    }

    .rowCartellera {
        width: 100% !important;
    }

    /********************************************************
                    FIN - Home i Headers
    ********************************************************/

    /********************************************************
                    INI - Ciutat
    ********************************************************/

    iframe#iframe_aemet_id43155 {
        width: 100% !important;
        float: left;
    }

    
    .img-slider-ciutat {
        height: 311px !important;
        width: 100% !important;
    }


    div#ciutatimatge {
       position: absolute !important;
       margin-left: 153px;
       /*width: 100% !important;*/
       width: 79% !important;
       height: 312px !important;
    }

    .bx-viewport {
        /*height: 310px !important;*/
        height: auto !important;
    }

    /********************************************************
                    FIN - Ciutat
    ********************************************************/

    /********************************************************
                    INI - Ajuntament
    ********************************************************/

    .banner2-last {
        float: left !important;
        margin-right: 17px !important;
    }

    .banner2 {
        margin-left: 15%;
    }

    .marc-info-administrativa-last {
        float: left !important;
    }

    .marc-info-administrativa {
        margin-right: 10px !important;
    }

    .img-slider-ajuntament {
        width: 640px;
        height: 312px;
    }


    /********************************************************
                    FIN - Ajuntament
    ********************************************************/

    /********************************************************
                    INI - Negocis
    ********************************************************/

    .img-slider-negocis {
        height: 312px !important;
        width: 790px !important;
        margin-top: 4px;
        margin-left: 5px;

    }

    .ciutatimatge-rectificat {
        margin-left: 0px !important;
    }

    div#negocisimatgeText h1 {
        left: 97px;
    }

    .column-right-negocis {
        width: 58% !important;
    }

    .column-left-negocis {
        width: 40% !important;
    }

    .arees-negocis {
        margin-right: 0px !important;
    }

    .paragraf-personalitzat {
        padding-right: 5%;
        padding-left: 5%;
    }

    /********************************************************
                    FIN - Negocis
    ********************************************************/

    /********************************************************
                    INI - Ciutat -> Negocis
    ********************************************************/

    .territori-contenedor-responsive {
        width: 90% !important;
        padding-left: 4%;
    }

    div#btranspresen {
        display: block;
        padding: 0;
        margin: 0 auto;
        width: 99%;
        top: 0;
        left: 0;
    }

    div#transimatge {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0 auto;
        float: none;
        left: 0;
    }
    div#transimatge img {
        width: 99%;
        padding: 4px;
        margin: 0 auto;
        display: block;
    }
    .img-slider-territori {
        width: 98.8%;
        height: 100%;
        margin-left: 4px;
    }

    div#transimatgeText h1 {
        width: 100%;
    }

    #tcentre_municipi {
        margin-left: 0px;
        width: 100%;
    }


    /********************************************************
                    FIN - Ciutat -> Negocis
    ********************************************************/

    /********************************************************
                    INI - Ciutat -> Planols
    ********************************************************/

    #contmenuquad {
        width: 100% !important;
    }

    .menuquad {
        float: none;
        margin: 0px 0px 0px 0px;
        margin-top: 20px;
    }

    .div-marge-ciutatPlanols {
        padding-left: 32%;
    }

    /********************************************************
                    FIN - Ciutat -> Planols
    ********************************************************/

    /********************************************************
                    INI - PAM
    ********************************************************/

    .contenedor-responsive {
        width: 90% !important;
        padding-left: 4%;
    }

    .img-slider-pam {
        width: 98.8%;
        height: 100%;
    }

    #pam_intro {
        width: 100%;
    }
    

    /********************************************************
                    FIN - PAM
    ********************************************************/

    /********************************************************
                    INI - IVIAPUBLICA
    ********************************************************/

    #textintroivp {
        width: 100%;
    }

    #taulaivp {
        width: 99%;
    }


    /********************************************************
                    FIN - IVIAPUBLICA
    ********************************************************/

    /********************************************************
                    INI - TELEFURGEN
    ********************************************************/

    #colivp0 {
        width: 96%;
        left: 0px;
    }


    /********************************************************
                    FIN - TELEFURGEN
    ********************************************************/

    /********************************************************
                    INI - AJUNTA -> INFECO
    ********************************************************/

    .contenedor-info-econoc-finan-element {
        margin-left: 17px !important;
    }

    .textintroinfeco {
        width: 92% !important;
    }

    .div-contenedor-responsive-infoEconocFinan {
        padding-left: 3%;
    }

    /********************************************************
                    FIN - AJUNTA -> INFECO
    ********************************************************/

    /********************************************************
                    INI - AJUNTA -> PLENS (SESSIONS)
    ********************************************************/    

    .taulaPle {
        position: relative;
        display: table;
        border: 0px solid #f6f6f6;
        top: 40px;
        margin: 0 auto;
        margin-left: auto;
        background-color: #f6f6f6;
        margin-left: 4px;
    }

    /********************************************************
                    FIN - AJUNTA -> PLENS (SESSIONS)
    ********************************************************/

    /********************************************************
                    INI - GRUPS POLITICS -> ARTICLES
    ********************************************************/

    .correcio-grupPolitic-Articles {
        margin-left: 0px !important;
    }
    /* --- FIN - GRUPS POLITICS -> ARTICLES --- */

    /* --- INI - GRUPS POLITICS -> ARTICLE --- */
    .caixatextnoticia {
        width: 100%;
    }

    .div-tipologia-tematica-foto {
        margin-top: 30px;
        width: 90%;
    }
    /* --- FIN - GRUPS POLITICS -> ARTICLE --- */

    /* --- INI - JUNTA GOVERN LOCAL -> SESSIONS --- */
    #taulaPlens {
        width: 100% !important;
    }
    /* --- FIN - JUNTA GOVERN LOCAL -> SESSIONS --- */

    /* --- INI - PARTICIPACIO CIUTADANA -> DIGUEU --- */
    div#caixacanalssac {
        width: 94%;
    }

    .caixafMod {
        float: none !important;
    }
    /* --- FIN - PARTICIPACIO CIUTADANA -> DIGUEU --- */

    /* --- INI - NEGOCIS --- */
    #taulaNXifres {
        width: 90% !important;
    }

    .div-contenedor-banners-negocis5 {
        padding-left: 35%;   
    }
    /* --- FIN - NEGOCIS ---*/
}

/*Al telèfon Yves s'aplica aquest en landscape*/
@media only screen and (min-width: 480px) and (max-width: 767px) {

    /********************************************************
                    INI - Home i Headers
    ********************************************************/
    div#btranspresen {
        display: block;
        padding: 0;
        margin: 0 auto;
        width: 99%;
        top: 0;
        left: 0;
    }
    .img-responsive-95 {
        width: 95% !important;
        height: auto !important;
    }

    .menu-responsive {
        display: inherit !important;
        float: left;
        margin-left: 8%;
        margin-top: 50px;
        color: #ED1F33;
        width: 17%;
    }

    .menu-responsive a {
        color: #ED1F33 !important;
    }

    .alcalde-responsive {
        height: 105px !important;
        width: 316px !important;
    }

    .banner-alcalde-first {
        margin-left: 12px !important;
    }

    .caixaheadlinep {
        width: 204px !important;
    }

    div#bhome a {
        left: 45px !important;
        top: 14px;
    }

    div#menuh {
        display: none;
    }

    div#page-wrap {
        width: 100% !important;
    }
    div#seccio3n {
        width: 100% !important;
    }
    div#cartellera div#slider1_container > div {
        transform-origin: none !important;
        transform: none !important;
    }
    div#slider1_container {
        height: 225px !important;
    }
    body {
        width: 98% !important;
    }
    div#contenidortotalcos {
        width: 100% !important;
    }
    #taulaInfoparticipa {
        top: 57px !important;
    }
    #footer {
        width: 100% !important;
    }
    div#contenidor5 {
        height: 710px !important;
        width: 100% !important;
    }

    div#contenidorcap1 {
        /*display: none;*/
    }

    .nomcap {
        /*display: none;*/   
    }

    #contenidorcap_text {
        position: relative;
        float: left;
        left: 0px !important;
        height: 32px;
        width: 100%;
        background-color: #ED1F33;
        z-index: 1;
    }


    #idiomescapul {
        padding: 0;
        list-style-type: none;
        margin-left: 15px !important;
        margin-top: 5px !important;
    }

    .tamany-img-aj-clic {
        width: 100%;
    }

    .row {
        width: 100% !important;
    }

    #contenidorcap_text {
        width: 100% !important;
    }

    div#titolcap, div#titolcap h1 {
        display: none !important;
    }

    .titolcap {
        display: none !important;
    }

    .rowCartellera {
        width: 100% !important;
    }

    div#contenidortotalpeu {
        width: 100% !important;
    }

    div#contenidorcap {
        width: 100% !important;
    }

    div#contenidorpeu {
    width: 100% !important;
    }

    .column-left {
        margin-bottom: 20px !important;
        width: 71% !important;
    }

    .column-center {
        margin-bottom: 20px !important;
        width: 28% !important;
    }

    .column-right {
        width: 100% !important;
    }

    .singleBanner {
        margin-bottom: 20px !important;
        margin-left: 33px !important;
        margin-right: 30px !important;
    }

    .singleBannerLast {
        float: left !important;
        margin-left: 33px !important;
    }

    .banner-alcalde-center {
        margin-left: 10px !important;
    }

    .banner-mes-informacio {
        margin-left: 26px !important;
    }

    .banner-mes-informacio-last {
        float: left !important;
    }

    .banner-webs-separation {
        margin-left: 72px !important;
    }

    .banners-web-last {
        margin-left: 72px !important;
        float: left !important;
    }

    .separation-banner-info-participa {
        margin-right: 3px !important;
        margin-left: 6px !important;
        margin-bottom: 8px;
    }

    .classter-left {
        width: 25% !important;
        float: left !important;
    }

    .classter-right {
        width: 75%;
        position: relative;
        float: left;
    }

    .follow-no-social-last {
        margin-right: 0px !important;
    }

    .follow-no-social {
        /*margin-right: 76px;*/
        margin-right: 12px;
    }

    .row-header-menu {
        height: 64px;
    }

    body {
        width: 100% !important;
    }

    .img-slider {
        width: 866px !important;
        height: 270px !important;
        margin: 0 auto;
    }

    .sigleElementPosition {
        width: 99.5% !important;
    }

    div#contenidorcap1 {
        position: absolute !important;
    }

    #contenidorcap_text .nomcap {
        margin-left: 24px;
        margin-top: 5px;
    }

    .info-participa-banner-last {
        float: left !important;
        margin-left: 6px !important;
    }

    .rowCartellera {
        width: 100% !important;
    }

    /********************************************************
                    FIN - Home i Headers
    ********************************************************/

    /********************************************************
                    INI - Ciutat
    ********************************************************/

    .responsive-ocult {
        display: none !important;
    }

    iframe#iframe_aemet_id43155 {
        width: 100% !important;
        float: left;
    }

    div#ciutatimatge {
       position: relative !important;
       width: 100% !important;
    }

    .bx-viewport {
        height: auto !important;
    }
    .bxslider .img-slider-ciutat {
        height: auto !important;
    }
    ul#bciutatmenu {
        width: 100%;
        top: 0 !important;
    }
    ul#bciutatmenu li {
        margin-right: 0px !important;
        width: 25%;
        min-width: 151px; 
        float: left;
    }
    ul#bciutatmenu li a {
        position: relative;
    }
    div#textbmenu1, div#textbmenu2, div#textbmenu3, div#textbmenu4 {
        top: inherit !important;
    }
    .imatgeCapText h1 {
        bottom: -70px !important;
    }

    /********************************************************
                    FIN - Ciutat
    ********************************************************/

    /********************************************************
                    INI - Ajuntament
    ********************************************************/

    .img-slider-ajuntament {
        width: 463px;
        height: 311px;
    }

    .banner2-last {
        float: left !important;
        margin-right: 17px !important;
    }

    .banner2 {
        margin-left: 10% !important;
    }

    .marc-info-administrativa-last {
        float: left !important;
    }

    .marc-info-administrativa {
        margin-right: 10px !important;
    }

    .banner2-last {
        float: left !important;
    }

    .column-left-iformacio-administrativa {
        width: 55% !important;
    }

    .textalt {
        position: inherit !important;
    }

    .column-right-iformacio-administrativa {
        width: 39% !important;
    }

    .rowCartellera {
        width: 97.5% !important;
    }

    /********************************************************
                    FIN - Ajuntament
    ********************************************************/

    /********************************************************
                    INI - Negocis
    ********************************************************/

    .img-slider-negocis {
        height: 310px !important;
        width: 613px !important;
        margin-top: 4px;
        margin-left: 5px;

    }

    .ciutatimatge-rectificat {
        margin-left: 0px !important;
    }

    div#negocisimatgeText h1 {
        left: -38px;
    }

    .column-right-negocis {
        width: 100% !important;
        margin-top: 10px !important;
    }

    .column-left-negocis {
        width: 100% !important;
    }

    .arees-negocis {
        margin-right: 0px !important;
    }

    .arees-negocis-last {
        float: left !important;
    }

    #contenidorcap_text .idiomescap {
        width: 22% !important;
    }

    .paragraf-personalitzat {
        padding-right: 5%;
        padding-left: 5%;
    }

    /********************************************************
                    FIN - Negocis
    ********************************************************/

    /********************************************************
                    INI - Ciutat -> Negocis
    ********************************************************/

    .territori-contenedor-responsive {
        width: 90% !important;
        margin: 0 4%;
    }    

    div#transimatge {
        width: 100%;
        display: block;
        margin: 0 auto;
        padding: 0;
        float: none;
        left: 0;
    }
    div#transimatge img {
        width: 99%;
        padding: 4px;
        margin: 0px auto;
        display: block;
    }

    .img-slider-territori {
        width: 98.8%;
        height: 100%;
    }

    div#transimatgeText h1 {
        width: 100%;
    }

    #tcentre_municipi {
        margin-left: 0px;
        width: 100%;
    }


    /********************************************************
                    FIN - Ciutat -> Negocis
    ********************************************************/

    /********************************************************
                    INI - Ciutat -> Planols
    ********************************************************/

    #contmenuquad {
        width: 100% !important;
    }

    .menuquad {
        float: none;
        margin: 0px 0px 0px 0px;
        margin-top: 20px;
    }

    .div-marge-ciutatPlanols {
        padding-left: 28%;
    }

    /********************************************************
                    FIN - Ciutat -> Planols
    ********************************************************/

    /********************************************************
                    INI - PAM
    ********************************************************/

    .contenedor-responsive {
        /*
        width: 90% !important;
        padding-left: 4%;
        */
    }

    .img-slider-pam {
        width: 98.8%;
        height: 100%;
    }

    #pam_intro {
        width: 100%;
    }
    

    /********************************************************
                    FIN - PAM
    ********************************************************/

    /********************************************************
                    INI - IVIAPUBLICA
    ********************************************************/

    #textintroivp {
        width: 100%;
    }

    #taulaivp {
        width: 99%;
    }

    /********************************************************
                    FIN - IVIAPUBLICA
    ********************************************************/

    /********************************************************
                    INI - TELEFURGEN
    ********************************************************/

    #colivp0 {
        width: 96%;
        left: 0px;
    }


    /********************************************************
                    FIN - TELEFURGEN
    ********************************************************/

    /********************************************************
                    INI - CIUTAT -> MUNICIPI
    ********************************************************/

    #taulaNMunicipi {
        width: 75%;
        margin: 40 0;
    }

    div#ciutatmap3 {
        margin-left: 0px;
    }

    /********************************************************
                    FIN - CIUTAT -> MUNICIPI
    ********************************************************/

    /********************************************************
                    INI - AJUNTAMENT -> ORGANS
    ********************************************************/

    .caixa_organs {
        width: 215px;
        font-size: 13px;
    }


    /********************************************************
                    FIN - AJUNTAMENT -> ORGANS
    ********************************************************/

    /********************************************************
                    INI - AJUNTAMENT -> INFO ECONOM FINAN
    ********************************************************/

    .textintroinfeco {
        width: 96% !important;
    }

    .contenedor-info-econoc-finan-element {
        width: 300px;
        float: left;
        margin-top: 40px;
        margin-left: 0px !important;
    }

    .div-contenedor-responsive-infoEconocFinan {
            padding-left: 23%;
    }

    /********************************************************
                    FIN - AJUNTAMENT -> INFO ECONOM FINAN
    ********************************************************/

    /********************************************************
                    INI - AJUNTA -> PLENS (SESSIONS)
    ********************************************************/    

    .taulaPle {
        position: relative;
        display: table;
        border: 0px solid #f6f6f6;
        top: 40px;
        margin: 0 auto;
        margin-left: auto;
        background-color: #f6f6f6;
        margin-left: 4px;
    }

    /********************************************************
                    FIN - AJUNTA -> PLENS (SESSIONS)
    ********************************************************/

    /********************************************************
                    INI - AJUNTA -> OGM
    ********************************************************/

    .ogm-col-left {
        margin-bottom: 25px;
    }

    .ogm-col-right {
        width: 340px;
        margin-left: 0px !important;
    }

    /********************************************************
                    FIN - AJUNTA -> OGM
    ********************************************************/

    /********************************************************
                    INI - GRUPS POLITICS -> ARTICLES
    ********************************************************/

    .correcio-grupPolitic-Articles {
        margin-left: 0px !important;
    }

    /********************************************************
                    FIN - GRUPS POLITICS -> ARTICLES
    ********************************************************/

    /********************************************************
                    INI - GRUPS POLITICS -> ARTICLE
    ********************************************************/

    .caixatextnoticia {
        width: 100%;
    }

    .div-tipologia-tematica-foto {
        margin-top: 30px;
        width: 90%;
    }

    /********************************************************
                    FIN - GRUPS POLITICS -> ARTICLE
    ********************************************************/

    /********************************************************
                    INI - JUNTA GOVERN LOCAL -> SESSIONS
    ********************************************************/

    #taulaPlens {
        width: 100% !important;
    }


    /********************************************************
                    FIN - JUNTA GOVERN LOCAL -> SESSIONS
    ********************************************************/

    /********************************************************
                    INI - PARTICIPACIO CIUTADANA -> DIGUEU
    ********************************************************/

    div#caixacanalssac {
        width: 94%;
    }

    .caixafMod {
        float: none !important;
    }


    /********************************************************
                    FIN - PARTICIPACIO CIUTADANA -> DIGUEU
    ********************************************************/

    /********************************************************
                    INI - NEGOCIS
    ********************************************************/

    #taulaNXifres {
        width: 90% !important;
    }

    .div-contenedor-banners-negocis5 {
        padding-left: 35%;   
    }

    /********************************************************
                    FIN - NEGOCIS
    ********************************************************/

    /********************************************************
                    INI - INFECO
    ********************************************************/

    .col-dreta-info-econom-finan {
        
        float: none !important;
    }

    /********************************************************
                    FIN - INFECO
    ********************************************************/
}

/*Al telèfon Yves s'aplica aquest en portrait*/
@media only screen and (min-width: 320px) and (max-width: 479px) {

    /********************************************************
                    INI - Home i Headers
    ********************************************************/
    
    .img-responsive-95 {
        width: 95% !important;
        height: auto !important;
    }

    .div-infoparticipa {
        padding-left: 25%;
    }

    .div-altres {
        padding-left: 20%;
    }

    .div-altres-webs {
        padding-left: 24%;
    }

    .div-banners-home {
        padding-left: 29%;
    }

    .div-alcalde {
        padding-left: 7%;
    }

    .div-social-noSocial {
        width: 160px;
        padding-left: 29%;
    }

    .div-campanyes {
        padding-left: 28%;
        width: 163px;
        height: 320px;
    }

    .div-tweets {
        padding-left: 21%;
        width: 238px;
    }

    .div-noticies {
            padding-left: 22%;
    }

    .titolsSeccionsHome {
        padding-left: 5%;
    }

    .menu-responsive {
        display: inherit !important;
        float: left;
        margin-left: 5%;
        margin-top: 50px;
        color: #ED1F33;
    }

    .menu-responsive a {
        color: #ED1F33 !important;
    }

    #bmenu a {
        width: 9.6% !important;
    }

    #contenidorcap_text .nomcap {
        width: 45% !important;
    }

    #contenidorcap_text .idiomescap {
            width: 37% !important;
            font-size: 13px;
    }

    #contenidorcap_text .divIdiomaGoogle {
        width: 52% !important;
    }

    .alcalde-responsive {
        height: 105px !important;
        width: 316px !important;
    }

    .caixaheadlinep {
        width: 220px !important;
    }

    div#bhome a {
        left: 17px !important;
        top: 14px;
    }

    div#menuh {
        display: none;
    }

    div#page-wrap {
        width: 100% !important;
    }
    div#seccio3n {
        width: 100% !important;
    }
    div#cartellera div#slider1_container > div {
        transform-origin: none !important;
        transform: none !important;
    }
    div#slider1_container {
        height: 114px !important;
    }
    body {
        width: 98% !important;
    }
    div#contenidortotalcos {
        width: 100% !important;
    }
    #taulaInfoparticipa {
        top: 57px !important;
    }
    #footer {
        width: 100% !important;
    }
    div#contenidor5 {
        height: 710px !important;
        width: 100% !important;
    }

    div#contenidorcap1 {
        /*display: none;*/
    }

    .nomcap {
        /*display: none;*/   
    }

    #contenidorcap_text {
        position: relative;
        float: left;
        left: 0px !important;
        height: 32px;
        width: 100%;
        background-color: #ED1F33;
        z-index: 1;
    }


    #idiomescapul {
        padding: 0;
        list-style-type: none;
        margin-left: 10px !important;
        margin-top: 9px !important;
    }

    .tamany-img-aj-clic {
        width: 100%;
    }

    .row {
        width: 100% !important;
    }

    #contenidorcap_text {
        width: 100% !important;
    }

    div#titolcap, div#titolcap h1 {
        display: none !important;
    }

    .titolcap {
        display: none !important;
    }

    .rowCartellera {
        width: 100% !important;
    }

    div#contenidortotalpeu {
        width: 100% !important;
    }

    div#contenidorcap {
        width: 100% !important;
    }

    div#contenidorpeu {
    width: 100% !important;
    }

    .column-left {
        margin-bottom: 20px !important;
        width: 100% !important;
        /*padding-left: 18% !important;*/
    }

    .column-center {
        margin-bottom: 20px !important;
        width: 100% !important;
        /*padding-left: 22% !important;*/
    }

    .column-right {
        width: 100% !important;
    }

    .singleBanner {
        margin-bottom: 20px !important;
        margin-left: 17px !important;
        margin-right: -12px !important;
    }

    .singleBannerLast {
        float: left !important;
        margin-left: 17px !important;
    }

    

    .banner-mes-informacio {
        margin-left: 0px !important;
        margin-right: 0px !important;
        float: none !important;
    }

    .div-banners-mes-informacio {
        padding-left: 28%;
    }

    .banner-mes-informacio-last {
        float: left !important;
    }

    .banner-webs-separation {
        /*margin-left: 72px !important;*/
    }

    .banners-web-last {
        /* margin-left: 72px !important; */
        float: left !important;
    }

    .separation-banner-info-participa {
        /*margin-right: 3px !important;*/
        /*margin-left: 88px !important;*/
        margin-bottom: 8px;
    }

    .classter-left {
        width: 100% !important;
        float: none !important;
        /*padding-left: 32%;*/
    }

    .classter-right {
        width: 100%;
        position: relative;
        float: left;
        /*padding-left: 26%;*/
    }

    .follow-no-social-last {
        margin-right: 0px !important;
    }

    .follow-no-social {
        /*margin-right: 76px;*/
        margin-right: 12px;
    }

    .row-header-menu {
        height: 64px;
    }

    body {
        width: 98% !important;
    }

    .img-slider {
        width: 866px !important;
        height: 273px !important;
        margin: 0 auto;
    }

    .sigleElementPosition {
        width: 99.5% !important;
    }

    div#contenidorcap1 {
        position: absolute !important;
    }

    #contenidorcap_text .nomcap {
        margin-left: 24px;
        margin-top: 5px;
    }

    .info-participa-banner-last {
        float: left !important;
    }

    .titolCampanyes-alineat {
        padding-left: 20px;
    }

    .alcaldeLandScape {
        /*margin-left: 2% !important;*/
    }

    .banner-alcalde-last {
        margin-left: 17px !important;
        float: left !important;
    }

    .banner-alcalde-center {
        margin-left: 5% !important;
        margin-bottom: 10px;
    }

    .banner-alcalde-first {
            float: none !important;
            margin-left: 17px !important;
            clear: both;
            margin-bottom: 10px;
    }

    .singleBanner-float-none {
        float: none !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .column-right-altres-cercador {
        float: left !important;
        /* padding-left: 19%; */
        width: 100%;
    }

    .column-left-altres-cercador {
        /*padding-left: 19%;*/
        width: 100% !important; 
    }

    .rowCartellera {
        width: 100% !important;
    }

    .div-cercador {
        padding-left: 20%
    }

    div#transimatgeText h1 {
        font-size: 16px;
    }


    /********************************************************
                    FIN - Home i Headers
    ********************************************************/

    /********************************************************
                    INI - Ciutat
    ********************************************************/

    .div-ciutat-agenda {
        width: 284px;
        padding-left: 13%;
    }

    .div-banners-ciutat {
        padding-left: 30%;
    }

    .responsive-ocult {
        display: none !important;
    }

    .imatgeCapText h1 {
        font-size: 28px !important;
        top:250px;
    }

    iframe#iframe_aemet_id43155 {
        width: 100% !important;
        float: left;
    }

    .img-slider-ciutat {
        height: auto !important;
        width: 100% !important;
    }

    .bx-viewport {
        /*height: 162px !important;*/
    }

    .info-general-ciutat {
        zoom: 88%;
    }

    .column-left-viulaciutat {
        width: 100% !important;
    }

    .column-right-viulaciutat {
        width: 100% !important;
    }

    .banner-viulaciutat {
        margin-right: 20px !important;
        /*margin-left: 26%;*/
    }

    .div-banners-viuLaCiutat {
        padding-left: 26%;
    }

    div#ciutatimatge {
        position: relative !important;
        width: 98% !important;
    }

    .bx-viewport {
        height: auto !important;
    }
    .bxslider .img-slider-ciutat {
        height: auto !important;
    }
    ul#bciutatmenu {
        width: 100%;
        top: 0 !important;
    }
    ul#bciutatmenu li {
        margin-right: 0px !important;
        width: 25%;
        min-width: 151px;
        float: left;
    }
    ul#bciutatmenu li a {
        position: relative;
    }
    div#textbmenu1, div#textbmenu2, div#textbmenu3, div#textbmenu4 {
        top: inherit !important;
    }
    .imatgeCapText h1 {
        bottom: -70px !important;
    }

    .col-negocis {
        width: 93% !important;
        display: block !important;
    }

    .col-negocis2 {
        
    }

    .info-general-ciutat {
        float: inherit !important;
    }

    .div-mesInfo {
        width: 50%;
        padding-left: 24%;
    }

    .div-pobles {
        width: 90%;
        padding-left: 5%;
    }


    /********************************************************
                    FIN - Ciutat
    ********************************************************/

    /********************************************************
                    INI - Ciutat -> Planols
    ********************************************************/

    #contmenuquad {
        width: 100% !important;
    }

    .menuquad {
        float: none;
        margin: 0px 0px 0px 0px;
        margin-top: 20px;
    }

    .div-marge-ciutatPlanols {
        padding-left: 14%;
    }

    /********************************************************
                    FIN - Ciutat -> Planols
    ********************************************************/

    /********************************************************
                    INI - Ajuntament
    ********************************************************/

    .img-slider-ajuntament {
        height: auto;
        width: 100% !important;

    }

    .banner2-last {
        float: left !important;
        margin-right: 17px !important;
    }

    .banner2 {
        margin-left: 23% !important;
    }

    .marc-info-administrativa-last {
        float: left !important;
    }

    .marc-info-administrativa {
        margin-right: 5px !important;
    }

    .banner2-last {
        float: left !important;
    }

    .column-left-iformacio-administrativa {
        width: 100% !important;
        float: none;
    }

    .textalt {
        position: inherit !important;
    }

    .column-right-iformacio-administrativa {
        margin-top: 10px;
        width: 100% !important;
        /*padding-right: 20%;*/
    }

    .rowCartellera {
        width: 97.5% !important;
    }

    .bciutatpresen-ajuntament {
        height: 319px !important;
    }

    .banner2-correccio {
        margin-right: 0px !important;
        margin-left: 0% !important;
    }

    .div-banners-ajunta {
        padding-left: 19% !important;
        width: 62% !important;
    }

    .div-info-administrativa1 {
        width: 48%;
        padding-left: 26%;
    }

    .div-info-administrativa2 {
        padding-right: 14%;
    }

    ul.altres-materies li {
        width: 100.33% !important;
        float: none !important;
    }

    .div-altresMateries {
        padding-left: 33%;
    }


    /********************************************************
                    FIN - Ajuntament
    ********************************************************/

    /********************************************************
                    INI - Negocis
    ********************************************************/

    .img-slider-negocis {
        width: 98% !important;
        height: 190px !important;
        margin-top: 4px;
        margin-left: 5px;

    }

    .ciutatimatge-rectificat {
        margin-left: 0px !important;
    }

    div#negocisimatgeText h1 {
        left: -38px;
        top: 137px;
    }

    .column-right-negocis {
        width: 100% !important;
        margin-top: 10px !important;
    }

    .column-left-negocis {
        width: 100% !important;
    }

    .arees-negocis {
        margin-right: 0px !important;
        margin-left: 23%;
    }

    .arees-negocis-last {
        float: left !important;
    }

    .bciutatpresen-rectificat {
        height: 198px !important;
    }

    div#negocisimatgeText h1 {
        width: 384px;
    }

    .paragraf-personalitzat {
        padding-right: 5%;
        padding-left: 5%;
    }

    /********************************************************
                    FIN - Negocis
    ********************************************************/

    /********************************************************
                    INI - Ciutat -> Negocis
    ********************************************************/

    .territori-contenedor-responsive {
        width: 90% !important;
        padding-left: 4%;
    }    

    div#transimatge {
        width: 100%;
        padding: 0px;
        display: block;
        left: 0px;
        height: auto;
        margin: 0 auto;
        float: none;
    }
    div#transimatge img {
        width: 100%;
    }

    .img-slider-territori, div#transimatge img {
        width: 98%;
        padding: 4px;
        margin: 0px auto;
        display: block;
    }

    div#transimatgeText h1 {
        width: 100%;
    }

    #tcentre_municipi {
        margin-left: 0px;
        width: 100%;
    }

    div#btranspresen {
        /*height: 88px;*/
        height: auto !important;
        display: block;
        padding: 0;
        margin: 0 auto;
        width: 99%;
        top: 0;
        left: 0;
    }


    /********************************************************
                    FIN - Ciutat -> Negocis
    ********************************************************/

    /********************************************************
                    INI - PAM
    ********************************************************/

    .contenedor-responsive {
        width: 100% !important;
    }

    .img-slider-pam {
        width: 98.8%;
        height: 100%;
    }

    #pam_intro {
        width: 100%;
    }
    

    /********************************************************
                    FIN - PAM
    ********************************************************/

    /********************************************************
                    INI - IVIAPUBLICA
    ********************************************************/

    #textintroivp {
        width: 100%;
    }

    #taulaivp {
        width: 99%;
    }

    /********************************************************
                    FIN - IVIAPUBLICA
    ********************************************************/

    /********************************************************
                    INI - TELEFURGEN
    ********************************************************/

    #colivp0 {
        width: 96%;
        left: 0px;
    }


    /********************************************************
                    FIN - TELEFURGEN
    ********************************************************/


    /********************************************************
                    INI - CIUTAT -> MUNICIPI
    ********************************************************/

    #taulaNMunicipi {
        width: 56%;
        margin: 40 0;
    }

    div#ciutatmap3 {
        margin-left: 0px;
        width: 238px;
    }

    .img-mapa-territori1 {
        width: 70%;
    }

    div#ciutatmap1 {
        width: 238px;
    }

    div#ciutatmap2 {
        width: 238px;
    }

    /********************************************************
                    FIN - CIUTAT -> MUNICIPI
    ********************************************************/

    /********************************************************
                    INI - AJUNTAMENT -> ORGANS
    ********************************************************/

    .caixa_organs {
        width: 215px;
        font-size: 13px;
        height: 52px;
    }


    /********************************************************
                    FIN - AJUNTAMENT -> ORGANS
    ********************************************************/

    .imatgeborgans {
        position: relative;
        left: 0px;
    }


    /********************************************************
                    INI - AJUNTAMENT -> ORG. MUNICIP.
    ********************************************************/

    /********************************************************
                    INI - AJUNTAMENT -> INFECO
    ********************************************************/

    .textintroinfeco {
        width: 92% !important;
    }

    .textbotoinfeco {
        width: 74.8% !important;
    }

    .contenedor-info-econoc-finan-element {
        width: 100% !important;
        float: left;
        margin-top: 40px !important;
        margin-left: 0px !important;
    }

    .div-contenedor-responsive-infoEconocFinan {
        padding-left: 15%;
    }

    .titolbotoinfeco {
            width: 78.4%;
    }

    .foto-infeco {
        width: 100%;
    }

    .botoinfeco {
        /*width: 80% !important;*/
    }

    /********************************************************
                    FIN - AJUNTAMENT -> INFECO
    ********************************************************/

    /********************************************************
                    INI - AJUNTA -> PLENS (SESSIONS)
    ********************************************************/    

    .taulaPle {
        position: relative;
        display: table;
        border: 0px solid #f6f6f6;
        top: 40px;
        margin: 0 auto;
        margin-left: auto;
        background-color: #f6f6f6;
        margin-left: 4px;
    }

    /********************************************************
                    FIN - AJUNTA -> PLENS (SESSIONS)
    ********************************************************/

    /********************************************************
                    INI - AJUNTA -> URBANISME
    ********************************************************/

    #lititol {
        font-size: 13px;
    }

    /********************************************************
                    FIN - AJUNTA -> URBANISME
    ********************************************************/

    /********************************************************
                    INI - AJUNTA -> OGM
    ********************************************************/

    .ogm-col-left {
        margin-bottom: 25px;
    }

    .ogm-col-right {
        margin-left: 0px !important;
    }

    .img-pobles-barris {
        width: 65%;
        height: auto;
    }

    /********************************************************
                    FIN - AJUNTA -> OGM
    ********************************************************/

    /********************************************************
                    INI - GRUPS POLITICS -> ARTICLES
    ********************************************************/

    .correcio-grupPolitic-Articles {
        margin-left: 0px !important;
    }

    /********************************************************
                    FIN - GRUPS POLITICS -> ARTICLES
    ********************************************************/

    /********************************************************
                    INI - GRUPS POLITICS -> ARTICLE
    ********************************************************/

    .caixatextnoticia {
        width: 100%;
    }

    .div-tipologia-tematica-foto {
        margin-top: 30px;
        width: 90%;
    }

    /********************************************************
                    FIN - GRUPS POLITICS -> ARTICLE
    ********************************************************/

    /********************************************************
                    INI - JUNTA GOVERN LOCAL -> SESSIONS
    ********************************************************/

    #taulaPlens {
        width: 100% !important;
    }


    /********************************************************
                    FIN - JUNTA GOVERN LOCAL -> SESSIONS
    ********************************************************/

    /********************************************************
                    INI - PARTICIPACIO CIUTADANA -> DIGUEU
    ********************************************************/

    div#caixacanalssac {
        width: 90%;
    }

    .caixafMod {
        float: none !important;
    }

    /********************************************************
                    FIN - PARTICIPACIO CIUTADANA -> DIGUEU
    ********************************************************/

    /********************************************************
                    INI - NEGOCIS
    ********************************************************/

    #taulaNXifres {
        width: 90% !important;
    }

    .div-contenedor-banners-negocis5 {
        padding-left: 18% !important;   
    }

    /********************************************************
                    FIN - NEGOCIS
    ********************************************************/

    /********************************************************
                    INI - INFECO
    ********************************************************/

    .col-dreta-info-econom-finan {
        
        float: none !important;
    }

    /********************************************************
                    FIN - INFECO
    ********************************************************/

    /********************************************************
                    INI - Ciutat -> Incidencies Via Publica
    ********************************************************/
    #incidencies_via_publica #latitud_longitud li {
        display: block !important;
        padding-bottom: 5px;
    }
    #incidencies_via_publica p > label:first-child {
        display: block !important;
    }
    /********************************************************
                    FIN - Ciutat -> Incidencies Via Publica
    ********************************************************/

    div#credencials, div#credencials p {
        line-height: 20px;
    }
    #votacio_telematica_form .list_propostes_container label {
        width: 80%;
    }
}

@media only screen and (max-width: 319px) {

    /********************************************************
                    INI - Home i Headers
    ********************************************************/

    div#btranspresen {
        height: auto !important;
    }

    div#transimatge {
        height: auto !important;
    }
    div#transimatge img {
        width: 100%;
    }

    .img-responsive-95 {
        width: 95% !important;
        height: auto !important;
    }

    .titolsSeccionsHome {
        padding-left: 5%;
    }

    .menu-responsive {
        display: inherit !important;
        float: left;
        margin-left: 8%;
        margin-top: 50px;
        color: #ED1F33;
        font-size: 11px;

    }

    .menu-responsive a {
        color: #ED1F33 !important;
    }

    #bmenu a {
        width: 9.6% !important;
    }

    #contenidorcap_text .nomcap {
        width: 55% !important;
    }

    #contenidorcap_text .idiomescap {
            width: 32% !important;
            font-size: 11px;
    }

    #contenidorcap_text .divIdiomaGoogle {
        width: 52% !important;
        margin-right: 10px !important;
    }

    .alcalde-responsive {
        /*height: 105px !important;
        width: 310px !important;*/
        height: auto !important;
        width: 100% !important;
    }

    .caixaheadlinep {
        width: 204px !important;
    }

    div#bhome a {
        left: 17px !important;
        top: 14px;
    }

    div#menuh {
        display: none;
    }

    div#page-wrap {
        width: 100% !important;
    }
    div#seccio3n {
        width: 100% !important;
    }
    div#cartellera div#slider1_container > div {
        transform-origin: none !important;
        transform: none !important;
    }
    div#slider1_container {
        height: 100px !important;
    }
    body {
        width: 100% !important;
    }
    div#contenidortotalcos {
        width: 100% !important;
    }
    #taulaInfoparticipa {
        top: 57px !important;
    }
    #footer {
        width: 100% !important;
    }
    div#contenidor5 {
        height: 710px !important;
        width: 100% !important;
    }

    div#contenidorcap1 {
        /*display: none;*/
    }

    .nomcap {
        /*display: none;*/   
    }

    #contenidorcap_text {
        position: relative;
        float: left;
        left: 0px !important;
        height: 32px;
        width: 100%;
        background-color: #ED1F33;
        z-index: 1;
    }


    #idiomescapul {
        padding: 0;
        list-style-type: none;
        margin-left: 0px !important;
        margin-top: 5px !important;
    }

    .tamany-img-aj-clic {
        width: 100%;
    }

    .row {
        width: 100% !important;
    }

    #contenidorcap_text {
        width: 100% !important;
    }

    div#titolcap, div#titolcap h1 {
        display: none !important;
    }

    .titolcap {
        display: none !important;
    }

    .rowCartellera {
        width: 100% !important;
    }

    div#contenidortotalpeu {
        width: 100% !important;
    }

    div#contenidorcap {
        width: 100% !important;
    }

    div#contenidorpeu {
    width: 100% !important;
    }

    .column-left {
        margin-bottom: 20px !important;
        /*width: 100% !important;*/
        padding-left: 18% !important;
    }

    .column-center {
        margin-bottom: 20px !important;
        /*width: 100%% !important;*/
        width: 60% !important;
        padding-left: 22% !important;
    }

    .column-right {
        width: 100% !important;
    }

    .singleBanner {
        margin-bottom: 20px !important;
        margin-left: 74px !important;
        margin-right: -8px !important;
    }

    .singleBannerLast {
        float: left !important;
        margin-left: 74px !important;

    }

    .banner-alcalde-center {
        margin-bottom: 10px;
        margin-left: 25% !important;
    }

    .banner-mes-informacio {
        margin-left: 25% !important;
        margin-right: 0px !important;
    }

    .banner-mes-informacio-last {
        float: left !important;
    }

    .banner-webs-separation {
        margin-left: 18% !important;
    }

    .banners-web-last {
        margin-left: 18% !important;
        float: left !important;
    }

    .separation-banner-info-participa {
        margin-left: 18% !important;
        margin-bottom: 8px;
    }

    .classter-left {
        width: 25% !important;
        float: none !important;
        padding-left: 32%;
    }

    .classter-right {
        width: 75%;
        position: relative;
        float: left;
        padding-left: 26%;
    }

    .follow-no-social-last {
        margin-right: 0px !important;
    }

    .follow-no-social {
        /*margin-right: 76px;*/
        margin-right: 12px;
    }

    .row-header-menu {
        height: 64px;
    }

    body {
        width: 100% !important;
    }

    .img-slider {
        width: 866px !important;
        height: 273px !important;
        margin: 0 auto;
    }

    .sigleElementPosition {
        
    }

    div#contenidorcap1 {
        position: absolute !important;
    }

    #contenidorcap_text .nomcap {
        margin-left: 24px;
        margin-top: 5px;
    }

    .info-participa-banner-last {
        float: left !important;
        margin-left: 31% !important;
    }

    .titolCampanyes-alineat {
        padding-left: 20px;
    }

    .alcaldeLandScape {
        margin-left: 0px !important;
        /*height: 105px;*/
        height: auto;
    }

    .banner-alcalde-last {
        margin-left: 25% !important;
        float: left !important;
    }

    .column-right-altres-cercador {
        float: left !important;
        padding-left: 19%;
    }

    .column-left-altres-cercador {
        padding-left: 19%;
    }

    .rowCartellera {
        width: 100% !important;
    }

    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
        width: 102% !important;
    }

    div#transimatgeText h1 {
        font-size: 16px;
    }


    /********************************************************
                    FIN - Home i Headers
    ********************************************************/

    /********************************************************
                    INI - Ciutat
    ********************************************************/

    .responsive-ocult {
        display: none !important;
    }

    .imatgeCapText h1 {
        font-size: 28px !important;
        top:250px;
    }

    iframe#iframe_aemet_id43155 {
        width: 100% !important;
        float: left;
    }

    .img-slider-ciutat {
        height: auto !important;
        width: 100% !important;
    }

    .bx-viewport {
        height: 133px !important;
    }

    .info-general-ciutat {
        zoom: 88%;
    }

    .column-left-viulaciutat {
        width: 100% !important;
    }

    .column-right-viulaciutat {
        width: 100% !important;
    }

    .banner-viulaciutat {
        margin-left: 21%;
    }

    .info-general-ciutat {
        zoom: 88%;
    }
    div#ciutatimatge {
        position: relative !important;
        width: 100% !important;
    }

    .bx-viewport {
        height: auto !important;
    }
    .bxslider .img-slider-ciutat {
        height: auto !important;
    }
    ul#bciutatmenu {
        width: 100%;
        top: 0 !important;
    }
    ul#bciutatmenu li {
        margin-right: 0px !important;
        width: 25%;
        min-width: 151px;
        float: left;
    }
    ul#bciutatmenu li a {
        position: relative;
    }
    div#textbmenu1, div#textbmenu2, div#textbmenu3, div#textbmenu4 {
        top: inherit !important;
    }
    .imatgeCapText h1 {
        bottom: -70px !important;
    }

    /********************************************************
                    FIN - Ciutat
    ********************************************************/

    /********************************************************
                    INI - Ajuntament
    ********************************************************/

    .img-slider-ajuntament {
        /*height: 311px !important;
        width: 94% !important;*/
        height: auto;
        width: 100% !important;
    }

    .banner2-last {
        float: left !important;
        margin-right: 17px !important;
    }

    .banner2 {
        margin-left: 17% !important;
    }

    .marc-info-administrativa-last {
        float: left !important;
    }

    .marc-info-administrativa {
        margin-left: 26%;
    }

    .banner2-last {
        float: left !important;
    }

    .column-left-iformacio-administrativa {
        width: 95% !important;

    }

    .textalt {
        position: inherit !important;
    }

    .column-right-iformacio-administrativa {
        margin-top: 10px;
        width: 100% !important;
        padding-right: 11%;
    }

    .rowCartellera {
        width: 97.5% !important;
    }

    .bciutatpresen-ajuntament {
        height: 319px !important;
    }

    ul.altres-materies li {
        width: 100.33% !important;
        float: none !important;
    }

    .div-altresMateries {
        padding-left: 33%;
    }

    /********************************************************
                    FIN - Ajuntament
    ********************************************************/

    /********************************************************
                    INI - Negocis
    ********************************************************/

    .img-slider-negocis {
        width: 98% !important;
        height: 140px !important;
        margin-top: 4px;
        margin-left: 5px;

    }

    .ciutatimatge-rectificat {
        margin-left: 0px !important;
    }

    div#negocisimatgeText h1 {
        left: -38px;
        top: 89px;
    }

    .column-right-negocis {
        width: 100% !important;
        margin-top: 10px !important;
    }

    .column-left-negocis {
        width: 100% !important;
    }

    .arees-negocis {
        margin-right: 0px !important;
        margin-left: 17%;
    }

    .arees-negocis-last {
        float: left !important;
    }

    .bciutatpresen-rectificat {
        height: 148px !important;
    }

    div#negocisimatgeText h1 {
        width: 354px;
    }

    .paragraf-personalitzat {
        padding-right: 5%;
        padding-left: 5%;
    }

    /********************************************************
                    FIN - Negocis
    ********************************************************/

    /********************************************************
                    INI - Ciutat -> Negocis
    ********************************************************/

    .territori-contenedor-responsive {
        width: 90% !important;
        padding-left: 4%;
    }    

    div#transimatge {
        width: 100%;
        padding-right: 0px;
        left: 0px;
    }
    div#transimatge img {
        width: 100%;
    }

    .img-slider-territori {
        /*width: 98.8%;
        height: 100%;*/
        width: 100%;
        height: auto !important;
    }

    div#transimatgeText h1 {
        width: 100%;
    }

    #tcentre_municipi {
        margin-left: 0px;
        width: 100%;
    }


    /********************************************************
                    FIN - Ciutat -> Negocis
    ********************************************************/

    /********************************************************
                    INI - PAM
    ********************************************************/

    .contenedor-responsive {
        width: 90% !important;
        padding-left: 4%;
    }

    .img-slider-pam {
        width: 98.8%;
        height: 100%;
    }

    #pam_intro {
        width: 100%;
    }
    
    /********************************************************
                    FIN - PAM
    ********************************************************/

    /********************************************************
                    INI - IVIAPUBLICA
    ********************************************************/

    #textintroivp {
        width: 100%;
    }

    #taulaivp {
        width: 99%;
    }

    /********************************************************
                    FIN - IVIAPUBLICA
    ********************************************************/

    /********************************************************
                    INI - TELEFURGEN
    ********************************************************/

    #colivp0 {
        width: 96%;
        left: 0px;
    }


    /********************************************************
                    FIN - TELEFURGEN
    ********************************************************/

    /********************************************************
                    INI - CIUTAT -> MUNICIPI
    ********************************************************/

    #taulaNMunicipi {
        width: 56%;
    }

    div#ciutatmap3 {
        margin-left: 0px;
    }

    .img-mapa-territori1 {
        width: 70%;
    }

    div#ciutatmap1 {
        width: 238px;
    }

    div#ciutatmap2 {
        width: 238px;
    }


    /********************************************************
                    FIN - CIUTAT -> MUNICIPI
    ********************************************************/

    /********************************************************
                    INI - Ciutat -> Planols
    ********************************************************/

    #contmenuquad {
        width: 100% !important;
    }

    .menuquad {
        float: none;
        margin: 0px 0px 0px 0px;
        margin-top: 20px;
    }

    .div-marge-ciutatPlanols {
        padding-left: 3%;
    }

    /********************************************************
                    FIN - Ciutat -> Planols
    ********************************************************/

    /********************************************************
                    INI - AJUNTAMENT -> ORGANS
    ********************************************************/

    .caixa_organs {
        width: 215px;
        font-size: 13px;
    }


    /********************************************************
                    FIN - AJUNTAMENT -> ORGANS
    ********************************************************/

    /********************************************************
                    INI - AJUNTAMENT -> INFECO
    ********************************************************/

    .textintroinfeco {
        width: 92% !important;
    }

    .textbotoinfeco {
        width: 74.8% !important;
    }

    .contenedor-info-econoc-finan-element {
        width: 100% !important;
        float: left;
        margin-top: 40px !important;
        margin-left: 0px !important;
    }

    .div-contenedor-responsive-infoEconocFinan {
        padding-left: 15%;
    }

    .titolbotoinfeco {
            width: 78.4%;
    }

    .foto-infeco {
        width: 100%;
    }

    .botoinfeco {
        width: 80% !important;
    }

    /********************************************************
                    FIN - AJUNTAMENT -> INFECO
    ********************************************************/

    /********************************************************
                    INI - AJUNTA -> PLENS (SESSIONS)
    ********************************************************/    

    .taulaPle {
        position: relative;
        display: table;
        border: 0px solid #f6f6f6;
        top: 40px;
        margin: 0 auto;
        margin-left: auto;
        background-color: #f6f6f6;
        margin-left: 4px;
    }

    #plens .ord-col1 {
        width: 60%;
    }

    #plens .ord-col2 {
        width: 60%;
    }

    #plens .ord-col3 {
        width: 60%;
    }

    .div-plens-taula-separacio {
        padding-left: 30%;
    }


    /********************************************************
                    FIN - AJUNTA -> PLENS (SESSIONS)
    ********************************************************/

    /********************************************************
                    INI - AJUNTA -> URBANISME
    ********************************************************/

    #lititol {
        font-size: 13px;
    }

    /********************************************************
                    FIN - AJUNTA -> URBANISME
    ********************************************************/

        /********************************************************
                    INI - AJUNTA -> OGM
    ********************************************************/

    .ogm-col-left {
        margin-bottom: 25px;
    }

    .ogm-col-right {
        margin-left: 0px !important;
    }

    .img-pobles-barris {
        width: 50%;
        height: auto;
    }

    /********************************************************
                    FIN - AJUNTA -> OGM
    ********************************************************/

    /********************************************************
                    INI - GRUPS POLITICS -> ARTICLES
    ********************************************************/

    .correcio-grupPolitic-Articles {
        margin-left: 0px !important;
    }

    /********************************************************
                    FIN - GRUPS POLITICS -> ARTICLES
    ********************************************************/

    /********************************************************
                    INI - GRUPS POLITICS -> ARTICLE
    ********************************************************/

    .caixatextnoticia {
        width: 100%;
    }

    .div-tipologia-tematica-foto {
        margin-top: 30px;
        width: 90%;
    }

    /********************************************************
                    FIN - GRUPS POLITICS -> ARTICLE
    ********************************************************/

    /********************************************************
                    INI - JUNTA GOVERN LOCAL -> SESSIONS
    ********************************************************/

    #taulaPlens {
        width: 100% !important;
    }


    /********************************************************
                    FIN - JUNTA GOVERN LOCAL -> SESSIONS
    ********************************************************/

    /********************************************************
                    INI - PARTICIPACIO CIUTADANA -> DIGUEU
    ********************************************************/

    div#caixacanalssac {
        width: 86%;
    }

    .titolaltrespuntsparticipaMod {
        font-size: 15px !important;
    }

    .caixafMod {
        float: none !important;
    }

    /********************************************************
                    FIN - PARTICIPACIO CIUTADANA -> DIGUEU
    ********************************************************/

    /* --- INI - NEGOCIS --- */
    #taulaNXifres {
        width: 90% !important;
    }

    .div-contenedor-banners-negocis5 {
        padding-left: 3% !important;   
    }
    /* --- FIN - NEGOCIS --- */

    /* --- INI - INFECO ---*/
    .col-dreta-info-econom-finan {
        
        float: none !important;
    }
    /* --- FIN - INFECO --- */

    /* --- INI - Ciutat -> Incidencies Via Publica --- */
    #incidencies_via_publica p > label {
        display: block !important;
    }
    /* --- FIN - Ciutat -> Incidencies Via Publica --- */

    div#credencials, div#credencials p {
        line-height: 20px;
    }
}

@media only screen and (max-width: 900px) {

    #transimatgeText {
        position: relative;
        display: block;
        clear: both;
    }

    ul#menu_planA {
        position: relative;
        top: 0px;
        right: 0;
        width: 250px;
        float: right;
        display: block;
        margin-top: 0px;
        display: none;
        background-color: #333333;

    }

    .button-menu {
        display: block !important;
        position: relative;
        float: right;
        margin-top: 13px;
        margin-right: 25px;
        cursor: pointer;
    }

    #menu_planA a {
    color: #ffffff;
    }

    #menu_planA {
        left: 0px;
    }

    #menu_planA_item {
        border-bottom: none;
    }

    #tcentre_planA {
        left: 0px;
        /*width: auto;*/
        width: 100%;
    }

    div#centre_educacio {
        left: 0px;
        width: 100%;
    }

    .mapa-responsive{
        width: 100% !important;
    }

    .rectificacio-marcTerme-img-ssanta2017 {
        float: none !important;
        left: 0px !important;
    }

    div#subtitolinfeco2 {
        width: 87%;
    }

    .subtitolinfeco {
        font-size: 12px !important;
    }
    .marcback {
        width: 10% !important;
        max-width: 37px;
        font-size: 24px;
        margin-right: 2.5px;
    }
    .marcback i.icon-angle-double-up:before {
        margin: 0;
    }
    .rectificacio-mapa-reguers {
        float: none !important;
    }

    .rectificat-junta-gov-local {
        margin-left: 0px !important;
        margin-top: 0px !important;
    }

    
    .taulaBannersMod {
        width: 90% !important;
    }

    /********************************************************
                    INI - INFO ECONOMICA
    ********************************************************/

    .div-contenidor-info-econom-list {
        display: inherit !important;
    }

    .div-contenidor-info-econom {
        display: none !important;
    }

    #textintroinfeco_ep {
        margin-top: 172px;
    }

    .llista-pressupostos {
        margin-top: 140px;
    }    

    /********************************************************
                    FIN - INFO ECONOMICA
    ********************************************************/

    #taula3cpre {
        width: 100% !important;
    }

    /********************************************************
                    INI - INFECO
    ********************************************************/

    .col-dreta-info-econom-finan {
        
        float: none !important;
    }

    .info-econoc-finan-no-responsive {
        /*display: none;*/
    }

    /********************************************************
                    FIN - INFECO
    ********************************************************/

    .info-econoc-finan-responsive_2 {
        display: inherit !important;
        margin-top: 140px;
    }
    .info-econoc-finan-responsive_2 #tablaModPre {
        width: 100% !important;
    }
    .info-econoc-finan-responsive_2 #tablaModPre .columna {
        display: block !important;
        width: 100% !important;
    }


    ul.indexepi {
        width: 70%;
    }

    div#textintro_execAjt {
        width: 100%;
    }

    .evoluciograph-mod {
        position: relative;
        margin-top: 40px;
    }

    #evoluciotxt {
        width: 100%;
    }

    #evoluciotxt {
        top: 40px;
    }

    .formulari_generic {
        width: 95%;
    }
    div#conttranstotalcos {
        padding-bottom: 0;
    }
    .subtitol_generic {
        width: 97% !important;
        padding-left: 1%;
        padding-right: 1%;
        margin: 0 auto;
        display: block;
        clear: both;
    }
}

/* / Responsive Media */