<html>
	<head>
        {include file="head.tpl"}
	</head>
	<body>
		{include file="header.tpl"}
		{include file="entitats/entitats_home.tpl" image="/images/entitats/tira.jpg" ntitol=2}
		{include file="footer.tpl"}
	</body>
</html>