<html>
	<head>
		<title>

		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {include file="head.tpl"}
	</head>
	<body>
		{include file="header.tpl"}
		{if $ntpl==1}
			{include file="negocis/planA1.tpl" image="/images/negocis/tira.jpg"}
		{elseif $ntpl==2}
			{include file="negocis/planA2.tpl" image="/images/negocis/tira.jpg"}
		{elseif $ntpl==3}
			{include file="negocis/planA3.tpl" image="/images/negocis/tira.jpg"}
		{elseif $ntpl==4}
			{include file="negocis/planA4.tpl" image="/images/negocis/tira.jpg"}
		{elseif $ntpl==5}
			{include file="negocis/planA5.tpl" image="/images/negocis/tira.jpg"}
		{/if}
		{include file="footer.tpl"}
	</body>
</html>