<section id="main" class="column">

<h4 class="alert_info"><i class="icon-pencil"></i>Llistat banners</h4>
<article class="module width_full">
    <div class="module_content">
        <table class="list_table" name="list_banners" id="list_banners">
            <tr>
                <th>Títol</th>
                <th>Tipus</th>
                <th>Data</th>
                <th></th>
                <th></th>
            </tr>
            <tr><td colspan="4"></td></tr>
            {foreach $items as $item}
                <tr>
                    <td>{$item->TITOL}</td>
                    <td>{if $item->TIPUS==1}Pàgina principal{elseif $item->TIPUS==2}Campanyes{elseif $item->TIPUS==3}Pàgina Ciutat{/if}</td>
                    <td>{$item->DATA|date_format:"%d/%m/%G"}</td>
                    <td class="link_item"><a href="banners.php?accio=edit_banners&id={$item->ID}&page={$page}">Modificar</a></td>
                    <td class="link_item"><a href="JavaScript: delete_item('{$item->ID}', '{$page}');">Esborrar</a></td>
                </tr>
            {/foreach}
        </table>
    </div>
    <div id="pagination">
        <ul>
            {if $lastpage>1}
                {if $page> 1}
                    {assign var="page_ant" value=$page - 1}
                    <li><a href="banners.php?page={$page_ant}">Ant</a></li>
                {/if}
                {assign var="desp" value=$page + 4}
                {assign var="firstpage" value=$page - 4}

                {if $desp < $lastpage}
                    {assign var="lastpage" value=$page + 4}
                {/if}
                {if $firstpage < 1}
                    {assign var="firstpage" value=1}
                {/if}

                {for $counter=$firstpage to $lastpage}
                    {if $counter==$page}
                        <li>{$counter}</li>
                    {else}
                        <li><a href="banners.php?page={$counter}">{$counter}</a></li>
                    {/if}
                {/for}
                {if $page < $lastpage - 1}
                    {assign var="page_seg" value=$page + 1}
                    <li><a href="banners.php?page={$page_seg}">Seg</a></li>
                {/if}
            {/if}
        </ul>
    </div>
</article>

<!-- end of styles article -->


<div class="spacer"></div>
</section>

<script>
    /*
    $.validator.setDefaults({
        submitHandler: function() {
            alert("submitted!");
        }
    });
    */

    $().ready(function() {

    });

    function delete_item(id, page) {
        if(confirm("Vols esborrar aquest element?"))
            window.location.href="banners.php?accio=delete_banners&id="+id+"&page="+page;
    }
</script>