<html>
	<head>
        {include file="head.tpl"}
	</head>
	<body>
		{include file="header.tpl"}
		{include file="ciutat/territori.tpl" image="/images/laciutat/territori/tira.jpg"}
		{include file="footer.tpl"}
	</body>
</html>