<html>
	<head>
        {include file="head.tpl"}
	</head>
	<body>
		{include file="header.tpl"}
		{include file="ciutat/historia.tpl" image="/images/laciutat/historia/tira.jpg"}
		{include file="footer.tpl"}
	</body>
</html>