<div id="page-wrap">

<div class="contenedor-responsive">

<div id="conttranstotalcos">
	<div id="conttranscos">
		<div id="btranspresen">
			<div id="transimatge">			
				<img src="{$image}" class="img-slider-territori">			
			</div>
			<div id="transimatgeText">
				<h1>
				{$LABEL_TITOL1}
				</h1>
			</div>
		</div>
		<div id="tcentre_municipi">
			<p>{$LABEL_PARAG1}</p>
			<p>{$LABEL_PARAG2}</p>
			<p>{$LABEL_PARAG3}</p>
			<p>{$LABEL_PARAG4}</p>
			<p>{$LABEL_PARAG5}</p>
			<p>{$LABEL_PARAG6}</p>
			<p>{$LABEL_PARAG7}</p>
			<p>{$LABEL_PARAG8}</p>
			<p>{$LABEL_PARAG9}</p>
			<p>{$LABEL_PARAG10}</p>
			<p>{$LABEL_PARAG11}</p>
			<p>{$LABEL_PARAG12}</p>
			<p>{$LABEL_PARAG13}</p>
			<p>{$LABEL_PARAG14}</p>
		</div>
	
	</div>
</div>

</div>

</div>
