<html>
	<head>
        {include file="head.tpl"}
	</head>
	<body class="home_ciutat">
		{include file="header.tpl"}
		{include file="ciutat/home_ciutat.tpl" image="/images/ajunta/om/organizaciones1.jpg"}
		{include file="footer.tpl"}
	</body>
</html>