<html>
	<head>
        {include file="head.tpl"}
      
	</head>
	<body>
		{include file="header.tpl"}
		{include file="arxiu/arxiu_home.tpl" image="/images/arxiu/tira.jpg"}
		{include file="footer.tpl"}
	</body>
</html>