<html>
	<head>
        {include file="head.tpl"}
	</head>
	<body>
		{include file="header.tpl"}
		{include file="festes/elements/elements_custom.tpl" image="/images/festes/tiraelements.JPG" ntitol=2}
		{include file="footer.tpl"}
	</body>
</html>