<html>
	<head>
        {include file="head.tpl"}
	</head>
	<body id="plens">
		{include file="header.tpl"}
		{include file="plens/plens_custom.tpl" image="/images/plens/tira.jpg"}
		{include file="footer.tpl"}
	</body>
</html>