<div id="page-wrap" class="lgtbi">

<div class="contenedor-responsive">

<div id="conttranstotalcos">
	<div id="conttranscos">
		<div id="btranspresen">
			<div id="transimatge">			
			<img src="{$image}" class="img-slider-territori" />			
			</div>
			<div id="transimatgeText">
				<h1>
				{$LABEL_TITOL1}
				</h1>
			</div>
		</div>
		
       
		<div id="tcentre_municipi">
			
			
			<p>{$LABEL_TC1}</p>
      		<!--<p>{$LABEL_TC2} <a href="https://www.diputaciodetarragona.cat/ebop/index.php?op=rcerca&amp;vw=0&amp;ebop_any=2017&amp;dini=01&amp;mini=01&amp;dfi=31&amp;mfi=12&amp;index1=824&amp;index2=1173&amp;index3=1373&amp;index4=&amp;qua1=&amp;n_exp=&amp;num_bop=&amp;cod_af=&amp;order=0&amp;n_rege=&amp;neteja=0&amp;ok=submit" target="_blank"> <img src="/images/ebop/logoebop.jpg" height="20px"> {$LABEL_TC3} </a></p>-->
      		<p>{$LABEL_TC2} <a href="https://www.diputaciodetarragona.cat/ebop/index.php?op=rcerca&start=5&index1=285&index2=335&index3=535&order=0&ebop_any=2018" target="_blank"> <img src="/images/ebop/logoebop.jpg" height="20px"> {$LABEL_TC3} </a></p>
			
			<br>
		</div>
  	</div>
  	</div>
</div>
</div>

