<div id="page-wrap">

<div class="contenedor-responsive">

<div id="conttranstotalcos">
	<div id="conttranscos">
		<div id="btranspresen">
			<div id="transimatge">			
				<img src="{$image}" class="img-slider-territori">			
			</div>
			<div id="transimatgeText">
				<h1>
				{$LABEL_TITOL1}
				</h1>
			</div>
		</div>
		<div id="tcentre_municipi">
			<br>
			{$LABEL_TC1}
			<a href="{$url_om}" style="text-decoration:none">
			<div class="caixa_organs">
				<div class="imatgeborgans">
					<img src="/images/omunicipal/iescut.jpg">
				</div>
				{$LABEL_BT1}
			</div>
			</a>
			<div class="separator_organs"></div>
			<a href="{$url_omajt}" style="text-decoration:none">
			<div class="caixa_organs">
				<div class="imatgeborgans">
					<img src="/images/omunicipal/iescut.jpg">
				</div>
				{$LABEL_BT2}
			</div>
			</a>
			<div class="separator_organs"></div>
			<a href="{$url_ogm}" style="text-decoration:none">
			<div class="caixa_organs">
				<div class="imatgeborgans">
					<img src="/images/omunicipal/iescut.jpg">
				</div>
				{$LABEL_BT3}
			</div>
			</a>
			<div class="separator_organs"></div>
			<a href="http://www.tortosa.cat/webajt/ajunta/om/estructuratecadm.pdf" target="_blank" style="text-decoration:none">
			<div class="caixa_organs">
				<div class="imatgeborgans">
					<img src="/images/omunicipal/iescut.jpg">
				</div>
				{$LABEL_BT4}
			</div>
			</a>
			<div class="separator_organs"></div>
			<a href="{$url_ep}" style="text-decoration:none">
			<div class="caixa_organs">
				<div class="imatgeborgans">
					<img src="/images/omunicipal/iescut.jpg">
				</div>
				{$LABEL_BT5}
			</div>
			</a>
		</div>
	
	</div>
</div>
</div>
</div>
