<div id="page-wrap" class="lgtbi">

<div class="contenedor-responsive">

<div id="conttranstotalcos">
	<div id="conttranscos">
		<div id="btranspresen">
			<div id="transimatge">			
			<img src="{$image}" class="img-slider-territori"/>			
			</div>
			<div id="transimatgeText">
				<h1>
				{$LABEL_TITOL1}
				</h1>
			</div>
		</div>		
       
		<div id="tcentre_municipi">
			<p><font size="4" color="#666666">{$LABEL_TC1}</font></p>
			<!-- <p><strong>{$LABEL_TC1}</strong></p> -->

			<p>{$LABEL_TC2}</p>
      		<p>{$LABEL_TC31} <a href="https://es.surveymonkey.com/r/932YV6D" target="_blank">{$LABEL_TC32} </a></p>
      		<p>{$LABEL_TC41} <a href="http://treballiaferssocials.gencat.cat/ca/ambits_tematics/lgtbi" target="_blank">{$LABEL_TC42} </a></p>
			
			<br>
		</div>
  	</div>
</div>
</div>
</div>