<html>
	<head>
        {include file="head.tpl"}
	</head>
	<body>
		{include file="header.tpl"}
		{include file="pic/pic_home.tpl" image="/images/pic/tira.jpg"}
		{include file="footer.tpl"}
	</body>
</html>