<html>
	<head>
		<title>

		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="/css/estils.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		{include file="header.tpl"}
		{include file="planB.tpl" image="/images/ajunta/om/organizaciones1.jpg" icon="icon-sitemap" ntitol=6 nsubtitol=array(5, 10, 4, 4, 3, 1)}
		{include file="footer.tpl"}
	</body>
</html>