<html>
	<head>
		<title>

		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="/css/estils.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		{include file="header.tpl"}
		{include file="planA.tpl" image="/images/ajunta/om/organizaciones1.jpg"}
		{include file="footer.tpl"}
	</body>
</html>