@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?43374801');
  src: url('../font/fontello.eot?43374801#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?43374801') format('woff'),
       url('../font/fontello.ttf?43374801') format('truetype'),
       url('../font/fontello.svg?43374801#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?43374801#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail:before { content: '\e800'; } /* '' */
.icon-mail-alt:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-info:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-link:before { content: '\e805'; } /* '' */
.icon-link-ext:before { content: '\e806'; } /* '' */
.icon-attach:before { content: '\e807'; } /* '' */
.icon-print:before { content: '\e808'; } /* '' */
.icon-file-pdf:before { content: '\e809'; } /* '' */
.icon-file-word:before { content: '\e80a'; } /* '' */
.icon-file-excel:before { content: '\e80b'; } /* '' */
.icon-file-powerpoint:before { content: '\e80c'; } /* '' */
.icon-file-image:before { content: '\e80d'; } /* '' */
.icon-folder:before { content: '\e80e'; } /* '' */
.icon-folder-open:before { content: '\e80f'; } /* '' */
.icon-folder-empty:before { content: '\e810'; } /* '' */
.icon-folder-open-empty:before { content: '\e811'; } /* '' */
.icon-phone:before { content: '\e812'; } /* '' */
.icon-cog-alt:before { content: '\e813'; } /* '' */
.icon-angle-double-right:before { content: '\e814'; } /* '' */
.icon-signal:before { content: '\e815'; } /* '' */
.icon-inbox:before { content: '\e816'; } /* '' */
.icon-off:before { content: '\e817'; } /* '' */
.icon-check:before { content: '\e818'; } /* '' */
.icon-chart-bar:before { content: '\e819'; } /* '' */
.icon-chart-area:before { content: '\e81a'; } /* '' */
.icon-chart-pie:before { content: '\e81b'; } /* '' */
.icon-sitemap:before { content: '\e81c'; } /* '' */
.icon-newspaper:before { content: '\e81d'; } /* '' */
.icon-codeopen:before { content: '\e81e'; } /* '' */
.icon-facebook:before { content: '\e81f'; } /* '' */
.icon-twitter:before { content: '\e820'; } /* '' */
.icon-youtube:before { content: '\e821'; } /* '' */
.icon-graduation-cap:before { content: '\e822'; } /* '' */
.icon-book:before { content: '\e823'; } /* '' */