<html>
	<head>
        {include file="head.tpl"}
      
	</head>
	<body>
		{include file="header.tpl"}
		{include file="atencio_ciutadana/atencio_ciutadana_home.tpl" image="/images/atencio_ciutadana/tira.jpg"}
		{include file="footer.tpl"}
	</body>
</html>