<html>
	<head>
		<title>

		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' type='text/javascript'/></script>
        <script language="javascript" type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        {include file="head.tpl"}
	</head>
	<body>
		{include file="header.tpl"}
		{include file="planB.tpl" image="/images/ptranspa/fonsimatge2.jpg" icon="icon-attach"}
		{include file="footer.tpl"}
	</body>
</html>