<html>
	<head>
        {include file="head.tpl"}
	</head>
	<body id="plens">
		{include file="header.tpl"}
		{include file="jungov/juntesGovern_custom.tpl" image="/images/jungov/tira.jpg"}
		{include file="footer.tpl"}
	</body>
</html>