<html>
	<head>
		<title>

		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {include file="head.tpl"}
	</head>
	<body>
		{include file="header.tpl"}
		{include file="planA.tpl" image="/images/ensenyament/tira.jpg" ntitol=6}
		{include file="footer.tpl"}
	</body>
</html>