<html>
	<head>
        {include file="head.tpl"}
	</head>
	<body>
		{include file="header.tpl"}
		{include file="cultura/cultura_custom.tpl" image="/images/laciutat/tiracult.jpg" ntitol=2}
		{include file="footer.tpl"}
	</body>
</html>