<html>
	<head>
        {include file="head.tpl"}
	</head>
	<body>
		{include file="header.tpl"}
		{include file="agermana/agermana_custom.tpl" image="/images/agermana/tira.jpg" ntitol=7}
		{include file="footer.tpl"}
	</body>
</html>