header p {
  max-width: 600px;
  margin: 0 auto;
  line-height: 22px;
}

header p a,
header p a:visited {
  text-decoration: none;
  color: #4281f5;
}

.tiles-wrap li {
  /*height: 200px;*/
  background-color: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: none;
}

.tiles-wrap a {
  font-weight: 200;
  text-align: left;
  color: #000000;
  font-size: 12px;
  line-height: 16px;
  height: auto;
  border: 0px;
  display: block;
  width: 200px;
  position: relative;
  height: 100%;
  display: block;
  text-transform: uppercase;
}

.tiles-wrap a span {
  position: absolute;
  bottom: 20px;
  left: 15px;
  right: 15px;
  display: block;
  color: #666666;
}

.tiles-wrap a b {
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.tiles-wrap a:hover b {
  color: #4281f5;
}
