<html>
	<head>
		<title>

		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {include file="head.tpl"}
	</head>
	<body>
		{include file="header.tpl"}
		{include file="cementiri/cementiri_home.tpl" image="/images/cementiri/tira.jpg"}
		{include file="footer.tpl"}
	</body>
</html>