<html>
	<head>
		<title>

		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {include file="head.tpl"}
	</head>
	<body>
		{include file="header.tpl"}
		{include file="vinallop/vinallop_home.tpl" image="/images/vinallop/tira.jpg"}
		{include file="footer.tpl"}
	</body>
</html>