<html>
	<head>
		<title>

		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {include file="head.tpl"}
	</head>
	<body>
		{include file="header.tpl"}
        {if ($item==1 && $item2==4)}
            {include file="subvencions/subvencions_associacions_esportives.tpl" image="/images/subvencions/tira.jpg" ntitol=2}
        {else}
            {if ($item==1 && $item2==5)}
                {include file="subvencions/subvencions_associacions_veins.tpl" image="/images/subvencions/tira.jpg" ntitol=2}
            {else}
                {include file="subvencions/exercicis_home.tpl" image="/images/subvencions/tira.jpg" ntitol=2}
            {/if}
        {/if}

		{include file="footer.tpl"}
	</body>
</html>