<html>
	<head>
		<title>

		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {include file="head.tpl"}
	</head>
	<body>
		{include file="header.tpl"}
		{if ($ntpl==1)}
		{include file="planF.tpl" image="/images/butlletins/tira.jpg"}
		{else}
		{include file="planA.tpl" image="/images/butlletins/tira.jpg"}
		{/if}
		{include file="footer.tpl"}
	</body>
</html>