<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Panel admin</title>
    <link rel="stylesheet" href="css/layout.css">
</head>

<body onload="JavaScript:document.getElementById('user').focus();">
<form id="form1" name="form1" method="post" action="index.php">
    <!--
    <table width="982" border="0" align="center" cellpadding="3" cellspacing="4">
        <tr>
            <td height="150" colspan="2" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td width="100%" valign="top">

                <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <div id="tabla_login">
                                <table width="300" border="0" align="center" cellpadding="5" cellspacing="5">
                                    <tr>
                                        <td><img src="images/logo-horitzontal.jpg"></td>
                                    </tr>
                                    <tr>
                                        <td><h3>Gestor de conringuts</h3></td>
                                    </tr>
                                    <tr>
                                        <td><input name="user" type="text" id="user" size="45" value=""/></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input name="password" type="password" id="password" size="30" value=""/>
                                            <input name="entrar" type="submit" id="entrar" value="Entrar" class="button" />
                                        </td>
                                    </tr>
                                    {if $error!=""}
                                    <tr>
                                        <td>{$error}</td>
                                    </tr>
                                    {/if}
                                </table>
                            </div>
                        </td>
                    </tr>
                </table></td>
        </tr>
    </table>
    -->
    <div id="login-box">
        <div style="text-align: center; padding-bottom: 10px"><img src="images/logo-horitzontal.jpg"></div>
        Gestor de continguts d'aguns apartats de la web de l'Ajuntament de Tortosa.
        <br />
        <br />
        <div id="input-container">
            <div id="login-box-name" style="margin-top:20px;">Usuari:</div>
            <div id="login-box-field" style="margin-top:20px;">
                <input name="user" class="form-login" title="Username" value="" size="30" maxlength="2048" />
            </div>
            <div id="login-box-name">Password:</div>
            <div id="login-box-field">
                <input name="password" type="password" class="form-login" title="Password" value="" size="30" maxlength="2048" />
            </div>
        </div>
        <br />
        <!--
        <span class="login-box-options"><input type="checkbox" name="1" value="1"> Remember Me <a href="#" style="margin-left:30px;">Forgot password?</a></span>
        <br />
        <br />
        -->
        <div id="button-container">
            <a href="JavaScript:document.form1.submit();" class="btn_login">Entrar</a>
        </div>







    </div>


</form>
</body>

</html>