<div class="contenedor-responsive">

<div id="conttranstotalcos">
  <div id="conttranscos">
    <div id="btranspresen">
      <div id="transimatge">      
        <img src="{$image}" class="img-slider-pam"/>      
      </div>
      <div id="transimatgeText">
        <h1>
        {$LABEL_TITOL0}
        </h1>
      </div>
    </div>

    <table width=100% border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#eeeeee">
  <tr>
    <td width="21">&nbsp;</td>
    <td width="182"><img src="/images/pciutadana/urnap.jpg"></td>
    <td width=70% align="center"><span class="caixaconsultamonument"><center>{$LABEL_TC1}</p>{$LABEL_TC2}</center></span></td>
  </tr>
</table>
    </p>

 <table BORDER=0 CELLSPACING=5 CELLPADDING=0 WIDTH=100% align="center">
  <tr class="font_inputs">
    <td><a href="http://www2.tortosa.cat/eleccions.php?accio=resultats_totals&eleccions=2016CON" target="_blank"><img src="/images/pciutadana/bannerR16.jpg" alt="Resultats de la consulta" width=100% height="125" border="0"></a></td>
  </tr>
  <tr class="font_inputs">
  <td>
  <p style="text-align:justify;">{$LABEL_TC3}<br>
  <div class="faqconsultapopularriu" id="faqcons1">
      <strong><font size=4><a href="http://www2.tortosa.cat/consulta-ciutadania/" target="_blank">Cerca de la mesa de consulta</a></font></strong><br>
      <br>
            {$LABEL_TC4} 
                </div>
    <br><br><br><br>
{$LABEL_TC5} 
</em></td>
  </tr>
  <tr class="font_inputs">
      <td valign=top>
          <h3><a href="decret.pdf" target="_blank">{$LABEL_TC6} </a></h3>    </td>
  </tr>
  <tr class="font_inputs">
      <td valign=top>
          <h3><a href="decre1148.pdf" target="_blank">{$LABEL_TC7}</a></h3>    </td>
  </tr>
   <tr class="font_inputs">
      <td valign=top>
          <h3>{$LABEL_TC8}</h3>
      <ul>
          <li><a href="sobres1.pdf">{$LABEL_TC9}</a></li>
        <li><a href="sobres2.pdf">{$LABEL_TC10}</a></li>
        <li><a href="llistanum.pdf">{$LABEL_TC11}</a></li>
        <li><a href="actacons.pdf">{$LABEL_TC12}</a></li>
        <li><a href="actasessio.pdf">{$LABEL_TC13}</a></li>
        <li><a href="actacomissio.pdf">{$LABEL_TC14}</a></li>
        <li><a href="cartelllocal.pdf">{$LABEL_TC15}</a></li>
        <li><a href="cartellmesa.pdf">{$LABEL_TC16}</a></li>
        <li><a href="nomenamentmembres.pdf">{$LABEL_TC17}</a></li>
        <li><a href="modelalegacions.pdf">{$LABEL_TC18}</a></li>
      </ul>   </td>
  </tr>
    <tr class="font_inputs">
      <td valign=top>
          <div class="bullet">&nbsp;</div><h3><a href="publi.pdf" target="_blank">{$LABEL_TC19}</a></h3>    </td>
  </tr>
    <tr class="font_inputs">
      <td valign=top>
          <br><h3>{$LABEL_TC20}</h3><hr color="#333333" size="1"><br>
      <div class="faqconsultapopularriu" id="faqcons1">
      <strong><font size=4>{$LABEL_TC21}</font></strong><br>
      <br>
            {$LABEL_TC22}<br><br>
      <center>


        <img src="/images/pciutadana/caselles.jpg" width=100% height="195">

        <script type="text/javascript">
$(function() {
  if($(window).width() <= 600) {
    $("img").each(function() {
      $(this).attr("src", $(this).attr("src").replace("/images/pciutadana/caselles.jpg", "/images/pciutadana/caselles2.jpg"));
    });
  }
});

</script>



       
      </center>
      <br>
      {$LABEL_TC23}     </div>
       <br>
     <div class="faqconsultapopularriu" id="faqcons2">
      <strong><font size=4>{$LABEL_TC24}</font></strong><br>
      <br>
            {$LABEL_TC25}      </div>
    <br>
    <div class="faqconsultapopularriu" id="faqcons1">
      <strong><font size=4>{$LABEL_TC26}</font></strong><br>
      <br>
            {$LABEL_TC27}<br><br>
      <table width="100%" border="1" cellspacing="5" bordercolor="#eeeeee" background="#ffffff" id="faqcons">
          <tr>
            <td align="center" valign="middle" bgcolor="#eeeeee"><strong><SPAN lang="CA">{$LABEL_TC28}</SPAN></strong></td>
            <td align="center" valign="middle" bgcolor="#eeeeee"><strong><SPAN lang="CA">{$LABEL_TC29}</SPAN></strong></td>
          </tr>
          <tr>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC30}</SPAN><br>
              <SPAN lang="CA">UNED</SPAN><br>
              <SPAN lang="CA">{$LABEL_TC31}</SPAN><br>
            <SPAN lang="CA">Biblioteca</SPAN></td>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC30}</SPAN></td>
          </tr>
          <tr>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC32}</SPAN><br>
            <SPAN lang="CA">{$LABEL_TC33}</SPAN><br></td>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC32}</SPAN></td>
          </tr>
          <tr>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC34}</SPAN><br>
            <SPAN lang="CA">{$LABEL_TC35}</SPAN><br></td>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC34}</SPAN></td>
          </tr>
          <tr>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC36}</SPAN></td>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC36}</SPAN></td>
          </tr>
          <tr>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC37}</SPAN></td>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC37}</SPAN></td>
          </tr>
          <tr>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC38}</SPAN><br>
            <SPAN lang="CA">{$LABEL_TC39}</SPAN></td>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC38}</SPAN></td>
          </tr>
          <tr>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC40}</SPAN></td>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC40}</SPAN></td>
          </tr>
          <tr>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC41}</SPAN></td>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC41}</SPAN></td>
          </tr>
          <tr>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC42}</SPAN></td>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC42}</SPAN></td>
          </tr>
          <tr>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC43}</SPAN></td>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC43}</SPAN></td>
          </tr>
          <tr>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC44}</SPAN></td>
            <td valign="middle"><SPAN lang="CA">{$LABEL_TC44}</SPAN></td>
          </tr>
        </table>
      </div>
    <br>
     <div class="faqconsultapopularriu" id="faqcons2">
      <strong><font size=4>{$LABEL_TC45}</font></strong><br>
      <br>
            {$LABEL_TC46}    </div>
    <br>
     <div class="faqconsultapopularriu" id="faqcons1">
      <strong><font size=4>{$LABEL_TC47}</font></strong><br>
      <br>
            {$LABEL_TC48}     </div>
    <br>
    <div class="faqconsultapopularriu" id="faqcons2">
      <strong><font size=4>{$LABEL_TC49}</font></strong><br>
      <br>
            {$LABEL_TC50}     
    </div>
    <br>
    <div class="faqconsultapopularriu" id="faqcons1">
      <strong><font size=4>{$LABEL_TC51}</font></strong><br>
      <br>
            {$LABEL_TC52}(<a href="http://www.tortosa.cat" target="_self">www.tortosa.cat</a>), {$LABEL_TC53} <a href="mailto:sac.tortosa@tortosa.cat" target="_blank">sac.tortosa@tortosa.cat</a> {$LABEL_TC54}</div></td>
  </tr>
  
  <tr class="font_inputs"> 
    <td valign=top>    </td>
  </tr>
</table>


    
</div>

</div>


