<html>
    <head>
        {include file="head.tpl"}
    </head>
	<body>
		{include file="header.tpl"}
		{include file="planA.tpl" image="/images/alcalde/palcalde.jpg" ntitol=4}
		{include file="footer.tpl"}
	</body>
</html>