<html>
	<head>
        {include file="head.tpl"}
	</head>
	<body>
		{include file="header.tpl"}
		{include file="planA.tpl" image="/images/defensorc/tira.jpg" ntitol=2}
		{include file="footer.tpl"}
	</body>
</html>