<html>
	<head>
		<title>

		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="/css/estils.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		{include file="header.tpl"}
		{include file="planB.tpl" image="/images/ptranspa/fonsimatge2.jpg" icon="icon-ok" ntitol=4 nsubtitol=array(1, 1, 1, 1)}
		{include file="footer.tpl"}
	</body>
</html>