<!-- PLANTILLA AMB MENÚ A L'ESQUERRA I AL CENTRE NOMÉS UN IFRAME AMB PÀGINA DE ASP -->

<div id="conttranstotalcos">
	<div id="conttranscos">
		<div id="btranspresen">
			<div id="transimatge">			
			<img src={$image} />			
			</div>
			<div id="transimatgeText">
				<h1>
				{$LABEL_TITOL1}
				</h1>
			</div>
		</div>
		<ul id='menu_planA'>
		{foreach $MENU as $itemMenu}
			<a href={$itemMenu}>
			<li id='menu_planA_item'>
				{$itemMenu@key}
			</li>
			</a>
		{/foreach}
		</ul>
		<div id="tcentre_planA">
			{$LABEL_TC1}
			{if $ntpl==1}
			<iframe src="http://www.tortosa.cat/webajt/ajunta/butlletins/findex.asp" width="565" height="3200" scrolling="no" frameborder="0" marginheight="0" marginwidth="0">
			{else if $ntpl==3}
			<iframe src="http://www.tortosa.cat/webajt/ajunta/organs_govern/fplens.asp" width="565" height="650" scrolling="no" frameborder="0" marginheight="0" marginwidth="0">
			{else if $ntpl==5}
			<iframe src="http://www.tortosa.cat/webajt/ajunta/alcaldia/fcontacta.asp" width="565" height="1050" scrolling="no" frameborder="0" marginheight="0" marginwidth="0">
			{else if $ntpl==4}
			<iframe src="http://www.tortosa.cat/webajt/ajunta/alcaldia/fconsistori.asp" width="565" height="1450" scrolling="no" frameborder="0" marginheight="0" marginwidth="0">
			{else if $ntpl==11}
			<iframe src="http://www.tortosa.cat/webajt/ciutat/findex.asp" width="565" height="1050" scrolling="no" frameborder="0" marginheight="0" marginwidth="0">
			{/if}
			</iframe>
		</div>
  	</div>
</div>


