<!-- PLANTILLA DE MENÚ A L'ESQUERRA I TEXT AL CENTRE (AMB FOTO/IMATGE O SENSE) -->

<div id="page-wrap">
<div id="conttranstotalcos">
	<div id="conttranscos">
		<div id="btranspresen">
			<div id="transimatge">			
				<img src={$image} />			
			</div>
		</div>
		<div id="transimatgeText">
			<h1>
			{$LABEL_TITOL1}
			</h1>
		</div>
		{$LABEL_TC1}
  	</div>
</div>
</div>


