<!-- PLANTILLA DE MENÚ A L'ESQUERRA I TEXT AL CENTRE (AMB FOTO/IMATGE O SENSE) -->

<div id="page-wrap">
<div id="conttranstotalcos">
	<div id="conttranscos">
		<div id="btranspresenNP">
			<div id="transimatgeNP">			
			<img src={$image} />			
			</div>
			<div id="transimatgeText">
				<h1>
				{$LABEL_TITOL1}
				</h1>
			</div>
		</div>
		<div id='menu_planA'>
			{$LABEL_FOTO}
		</div>
		<div id="tcentre_planA">
			{$LABEL_TC1}
		</div>
  	</div>
</div>
</div>


