body {
	margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif, "Franklin Gothic Book";
    font-size: 12px;
}

div#conttranstotalcos {
	width: 760px;
	margin: 0 auto;
}

.text_capcelera1 {
	background-color: #E41915;
  	color: #FFFFFF;
  	font-size: 10px;
}

h1 {
  	font-size: 16px;
  	color: #FFFFFF;
  	margin: 0;
 }

div#conttranscos{
	/*padding-left: 45px;*/
    min-height: 450px;
}
#tira_table img {
    width: 100% !important;
}
div#menu_planA {
  width: 250px;
  float: left;
  font-size: 12px;
  padding-bottom: 5px;
  margin-top: 12px;
  border: 1px solid #cccccc;
}

div#menu_planA a {
  text-decoration: none;
}

div#menu_planA p.titol_menu {
  font-weight: bold;
  font-size: 13px;
  margin: 0;
  background-color: #cccccc;
  padding: 5px;
}

div#tcentre_planA {
  /*width: 565px;*/
  width: 495px;
  float: right;
  padding: 10px 0;
}

div#tcentre_planA h4 {
  text-align: left;
}

div#title {
  text-align: left;
  font-size: 13px;
  font-weight: bold;
  min-height: 25px;
}

#footer td, #footer td a {
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none;
}

/* Memorial Democratic Style */
body.memoria-democratica table#list-items {
    font-size: 12px;
    width: 100%;
}

body.memoria-democratica table#list-items th {
    text-align: left;
    background-color: #cccccc;
    padding: 2px;
}

body.memoria-democratica table#list-items td:first-child {
    width: 275px;
}

body.memoria-democratica table#list-items td {
    width: 105px;
}

body.memoria-democratica table#list-items td.link_item {
    text-align: center;
}

body.memoria-democratica table#list-items td.link_item a {
    text-decoration: none;
}

body.memoria-democratica input[type=text] {
    height: 20px;
}

body.memoria-democratica table#item {
    border: 1px solid #cccccc;
    font-size: 12px;
    margin: 0 auto 25px auto;
    width: 100%;
}

body.memoria-democratica div#button-container {
    text-align: center;
}

body.memoria-democratica input {
    font-size: 12px;
}

body.memoria-democratica form#cerca select {
    font-size: 12px;
}

body.memoria-democratica div#menu_planA p#buttons_container {
    padding-top: 25px;
}

body.memoria-democratica p#title {
    font-size: 18px;
    text-align: center;
}

body.memoria-democratica div.home p {
    text-align: justify;
}
/* End Memorial Democratic Style */

div#pagination ul {
    list-style: none;
}

div#pagination ul li {
    display: inline;
}

div#pagination ul {
    text-align:center;
    color:#829994;
    padding-left: 0;
}
div#pagination ul li {
    display:inline;
    padding:0 3px;
}
div#pagination ul a {
    color:#0d7963;
    display:inline-block;
    padding:5px 10px;
    border:1px solid #cde0dc;
    text-decoration:none;
}
div#pagination ul a:hover,
div#pagination ul a.current {
    background:#E41915;
    color:#fff;
}
/* End Memorial Democratic Style */

/* Consulta ciutadania */
    .consulta-ciutadania {
        font-size: 13px;
    }
    .consulta-ciutadania div#conttranstotalcos {
        
    }
    .consulta-ciutadania #title {
        color: #000;
        text-align: left;
        font-size: 18px;
        margin-top: 50px;
        font-weight: bold;
    }
    .consulta-ciutadania #formtitle {
        font-size: 14px;
        margin-top: 0;
        font-weight: bold;
    }
    .consulta-ciutadania .option1 span, .consulta-ciutadania .option2 span, .consulta-ciutadania .option3 span {
        display: inline-block;
    }
    .consulta-ciutadania #consult {
        border: 1px solid #000;
        padding: 10px;
        width: 42%;
        float: left;
    }
    .consulta-ciutadania input[type="text"], .consulta-ciutadania select {
        border: 1px solid #9BA0AF;
        padding: 2px;
        font-size: 11px;
        margin: 0 5px 0 0;
    }
    .consulta-ciutadania input[type="button"], .consulta-ciutadania input[type="reset"] {
        font-size: 11px;
        margin: 0 5px 0 0;
    }
    .consulta-ciutadania #option1-error, .consulta-ciutadania #option2-error, .consulta-ciutadania #option3-error, .consulta-ciutadania #tdocument-error, .consulta-ciutadania #recaptcha-error {
        color: #E41915;
    }
    .consulta-ciutadania div.separator {
        height: 1px;
        width: 100%;
        border-bottom: 1px solid #9BA0AF;
    }
    .consulta-ciutadania .captcha {
        margin-top: 35px;
    }
    .consulta-ciutadania .lopd {
        font-size: 10px;
    }
    .consulta-ciutadania #result {
        text-align: left;
        width: 50%;
        margin: 70px 0 0 25px;
        font-size: 14px;
    }
    .consulta-ciutadania .adreca {
        margin-top: 10px;
    }
    .consulta-ciutadania #local {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
    }
    .consulta-ciutadania .mes_info {
        margin-top: 50px;
        font-size: 12px;
    }
    .consulta-ciutadania #no-result {
        display: none;
        width: 50%;
        margin: 70px 0 0 25px;
    }
    .consulta-ciutadania #dni_letter, .consulta-ciutadania #tr_letter_1, .consulta-ciutadania #tr_letter_2 {
        width: 50px;
    }
/* End Consulta ciutadania */

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .consulta-ciutadania #conttranstotalcos > table {
        width: 100% !important;
    }
}

@media only screen and (min-width : 480px) and (max-width : 767px) {
    .consulta-ciutadania div#conttranstotalcos {
        width: 97% !important;
        margin: 0 auto;
    }
    .consulta-ciutadania #header_info_table td:nth-child(1) {
        width: 4%;
    }
    .consulta-ciutadania #header_info_table td:nth-child(2) {
        width: 3%;
    }
    .consulta-ciutadania #header_info_table td:nth-child(3) {
        width: 25%;
    }
    .consulta-ciutadania #header_info_table td:nth-child(4) {
        width: 15%;
    }
    .consulta-ciutadania #header_info_table td:nth-child(5) {
        width: auto;
        text-align: right;
    }
    .consulta-ciutadania #conttranstotalcos > table {
        width: 100% !important;
    }
    .consulta-ciutadania #logo_table td:first-child {
        width: 35%;
    }
    .consulta-ciutadania #logo_table td:last-child {
        width: 65%;
    }
    .consulta-ciutadania #logo_table img {
        width: 95%;
        height: auto;
    }

    .consulta-ciutadania #tira_table h1 {
        font-size: 70%;
    }
    .consulta-ciutadania #consult {
        float: none !important;
        width: 75% !important;
        margin: 0 auto;
    }

    .consulta-ciutadania #no-result {
        text-align: center !important;
        width: 100% !important;
        margin: 0 !important;
    }
    .consulta-ciutadania .mes_info {
        text-align: left !important;
    }

    .consulta-ciutadania #result {
        width: 100% !important;
        margin: 0 !important;
    }
}

@media only screen and (min-width : 320px) and (max-width : 479px) {
    .consulta-ciutadania div#conttranstotalcos {
        width: 97% !important;
        margin: 0 auto;
    }
    .consulta-ciutadania #header_info_table td:nth-child(1) {
        width: 4%;
    }
    .consulta-ciutadania #header_info_table td:nth-child(2) {
        width: 3%;
    }
    .consulta-ciutadania #header_info_table td:nth-child(3) {
        width: 25%;
    }
    .consulta-ciutadania #header_info_table td:nth-child(4) {
        width: 15%;
    }
    .consulta-ciutadania #header_info_table td:nth-child(5) {
        width: auto;
        text-align: right;
    }
    .consulta-ciutadania #conttranstotalcos > table {
        width: 100% !important;
    }
    .consulta-ciutadania #logo_table td:first-child {
        width: 35%;
    }
    .consulta-ciutadania #logo_table td:last-child {
        width: 65%;
    }
    .consulta-ciutadania #logo_table img {
        width: 95%;
        height: auto;
    }
    .consulta-ciutadania #tira_table h1 {
        font-size: 70%;
    }
    .consulta-ciutadania #consult {
        float: none !important;
        width: 97% !important;
        margin: 0 auto;
    }
    .consulta-ciutadania #no-result {
        text-align: left !important;
        width: 100% !important;
        margin: 0 !important;
    }
    .consulta-ciutadania .mes_info {
        text-align: left !important;
    }
    .consulta-ciutadania #result {
        text-align: center !important;
        width: 100% !important;
        margin: 0 !important;
    }
    .consulta-ciutadania #recaptcha_area, #recaptcha_table {
        width: 315px !important;
    }
}