{include file="templates/header.tpl"}
<div id="page-wrap" class="negocis eleccions">

      <div id="contajttotalcos">
         <div id="conttranscos">
            <div id="bciutatpresen">
               <div id="ciutatimatge">
                  <img src="/images/negocis/cap.jpg"/>
               </div>
               <div id="negocisimatgeText" class="imatgeCapText">
                  <h1>
                     {$LABEL_TITOL}
                     &nbsp;&nbsp;
                  </h1>
               </div>
            </div>
            {include file="templates/eleccions/menu_eleccions.tpl"}
            <div id="tcentre_planA">

            

               {foreach $Electes as $itemElecte}
               {foreach $itemElecte as $dataitemElecte}
               <div>
                  {if $dataitemElecte@index > 0}
                  <img src={$path_eleccions}/eleccions/{$dataitemElecte}> {$dataitemElecte@key}
                  {else}
                  <h4>
                  {$dataitemElecte@key}</h2>
                  {/if}
               </div>
               {/foreach}
               <hr>
               {/foreach}
            </div>
         </div>
      </div>
   {include file="templates/footer.tpl"}
</div>