<div id="footer-container">
	<table border="0" cellspacing="0" cellpadding="0" width="760" align="center" id="footer">
	  <tbody><tr> 
	    <td width="20%" height="15" bgcolor="#000000">&nbsp; 
	      Ajuntament de Tortosa</td>
	    <td width="20%" height="15" bgcolor="#000000" valign="middle"> 
	      <div align="center"><a href="mailto:webmaster@tortosa.cat"><img src="http://www.tortosa.cat/webajt/pics/sobre2.jpeg" border="0" alt="Bústia de suggeriments" title="Bústia de suggeriments"></a> 
	        Bústia de suggeriments</div></td>
	    <td width="5%" height="15" bgcolor="#000000" align="right" valign="middle"> 
	      <a href="http://www.tortosa.cat/webajt/urgencies.htm"><img src="http://www.tortosa.cat/webajt/pics/telf.jpg" border="0" alt="Telèfons d'interés" title="Telèfons d'interés"></a></td>
	    <td width="15%" height="15" bgcolor="#000000" align="center" valign="middle"> 
		  Telèfons d'interés&nbsp;&nbsp;</td>
	    <td width="20%" bgcolor="#000000" align="right" valign="middle"><a href="http://www.tortosa.cat/webajt/ppriva.asp">Política de privacitat</a></td>
	    <td width="20%" bgcolor="#000000" align="center" valign="middle"><a href="http://www.tortosa.cat/webajt/Avisl.asp">Avís legal</a></td>
	  </tr>
	</tbody>
	</table>
</div>

</body>

</html>