<table width="760" border="0" cellpadding="0" cellspacing="0" align="center">
    <tbody>
          <tr>
            <td><table border="0" cellspacing="0" cellpadding="0" width="100%">
              <tbody><tr>
                <td width="4%" height="21" bgcolor="#E41915"><a href="http://www.tortosa.cat"><img src="http://www.tortosa.cat/webajt/pics/escutpn.jpg" alt="Inici" width="21" height="21" border="0"></a></td>
                <td width="3%" align="left" bgcolor="#E41915" class="Estilo1 text_capcelera1"><a href="JavaScript:history.back();"><img src="http://www.tortosa.cat/webajt/pics/back.jpg" alt="Enrere" width="26" height="10" border="0"></a></td>
                <td width="25%" height="21" align="center" class="text_capcelera1">

                </td>
                <td width="39%" height="21" bgcolor="#E41915" align="right">        </td>
                <td width="29%" height="21" bgcolor="#E41915" align="right"><font face="Arial,Helvetica"><font color="#FFFFFF"><font size="-2"><b>
                  <script>data_ct();</script><font face="Arial" size="1" color="#ffffff"><b></b></font>
                  &nbsp;</b></font></font></font>       
                  </td>
              </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td height="120"><table width="100%" height="120" border="0" cellpadding="0" cellspacing="0">
              <tbody><tr>
                <td width="284" height="120" valign="bottom"><table width="98%" border="0" cellspacing="0" cellpadding="0">
                  <tbody><tr>
                    <td>            </td>
                  </tr>
                  <tr>
                    <td height="120" align="center" valign="middle"><img src="http://www.tortosa.cat/webajt/pics/logo2.jpg" width="230" height="68" alt="Ajuntament de Tortosa"></td>
                  </tr>
                </tbody></table>
                      <font face="Verdana, Arial, Helvetica, sans-serif" size="4"><font face="Arial, Helvetica, sans-serif" size="5"></font></font></td>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody><tr>
                            <td width="477" height="97">
                            <a href="#" target="_blank"><img src="http://www.tortosa.cat/tiraprin.jpg" title="Ajuntament de Tortosa" alt="Ajuntament de Tortosa" width="477" height="97" border="0"></a>   
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color:#E41915;" align="center">
                                <h1>T O R T O S A</h1>                  
                            </td>
                        </tr>
                    </tbody></table>
                </td>
              </tr>
            </tbody></table></td>
          </tr>
        </tbody>
    </table>