<!-- PLANTILLA DE MENÚ A L'ESQUERRA I TEXT AL CENTRE (AMB FOTO/IMATGE O SENSE) -->

<div id="page-wrap">
<div id="conttranstotalcos">
	<div id="conttranscos">
		<div id="btranspresen">
			<div id="transimatge">			
			<img src={$image} />			
			</div>
			<div id="transimatgeText">
				<h1>
				{$LABEL_TITOL1}
				</h1>
			</div>
		</div>
		<ul id='menu_planA'>
		{foreach $MENU as $itemMenu}
			<a href={$itemMenu}>
			<li id='menu_planA_item'>
				{$itemMenu@key}
			</li>
			</a>
		{/foreach}
		</ul>
		<div id="tcentre_planA">
			<font size=4 color=#666666>
			{$LABEL_TITOL0}
			</font>
			{if $item==1}
			<p>{$LABEL_TC1}</p>
			<p>{$LABEL_TC2}</p>
			<p>{$LABEL_TC3}</p>
			<p>{$LABEL_TC4}</p>
			<p>{$LABEL_TC5}</p>
			<p>{$LABEL_TC6}</p>
			<center>
			<img src="/images/serequi/esquema.jpg">
			</center>
			{/if}
			

			<br><br><br>
		</div>
  	</div>
</div>
</div>


