<html>
	<head>
        {include file="head.tpl"}
	</head>
	<body>
		{include file="header.tpl"}
		{if $item==0}
			{include file="educacio/educacio_home.tpl" image="/images/educacio/tira.jpg" ntitol=4}
		{else}
			{include file="educacio/educacio_llistat.tpl" image="/images/educacio/tira.jpg" ntitol=4}
		{/if}
		{include file="footer.tpl"}
	</body>
</html>