<ul id='menu_planA'>
                {foreach $MENU as $itemMenu}
                <a href={$itemMenu['link']} target="{$itemMenu['target']}">
                <li id='menu_planA_item'>
                {$itemMenu['name']}
            </li>
        </a>
    {/foreach}
</ul>