<html>
	<head>
        {include file="head.tpl"}
	</head>
	<body>
		{include file="header.tpl"}
		{include file="indicadors-transparencia/transparencia-home.tpl" image="/images/indicadors-transparencia/tira.jpg" ntitol=2}
		{include file="footer.tpl"}
	</body>
</html>